@(user: models.admin.RichUser, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import views.Bootstrap._

@base("Gebruikersprofiel activeren")(userContext) {
    <div class="page-header">
        <h1>Gebruikersprofiel @user.name activeren</h1>
    </div>

    @form(action = controllers.auth.routes.PasswordReset.handleStartActivateProfile(user.username), 'class -> "form form-horizontal") {
        @twFormActions {
            <div class="alert alert-info">
                <p><strong>Gelieve de activatie van je profiel te bevestigen.</strong></p>
                <p>Na bevestiging ontvang je een e-mail waarmee je je wachtwoord kan instellen.</p>
            </div>
        }

        @twFormActions {
            <button type="submit" class="btn btn-primary">Activeren</button>
            <a class="btn btn-warning" href="@controllers.routes.Application.index()">Annuleren</a>
        }
    }
}
