@(user: models.admin.RichUser, passwordChangeForm: Form[controllers.auth.ChangeInfo], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import helper._
@import views.Bootstrap._

@base("Wachtwoord aanpassen")(userContext) {
    <div class="page-header">
        <h1>Wachtwoord aanpassen</h1>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @msg
        </div>
    }

    @if(request.flash.get("success").isDefined) {
        <div class="alert alert-info">
        @request.flash.get("success").get
        </div>

        @twFormActions {
            <a class="btn" href="@routes.Application.index()">Je wachtwoord werd aangepast.</a>
        }
    } else {
        @form(action = controllers.auth.routes.PasswordChange.handlePasswordChange(), 'class -> "form form-horizontal") {
            @globalFormErrors(passwordChangeForm)
            <fieldset>
                <div id="name_field" class="form-group  ">
                    <label class="col-lg-2  control-label" for="name">Naam</label>
                    <div class="col-lg-10 read-only-field">
                        <p id="name">@user.name</p>
                    </div>
                </div>

                <div id="user-name_field" class="form-group  ">
                    <label class="col-lg-2  control-label" for="user-name">Gebruikersnaam</label>
                    <div class="col-lg-10 read-only-field">
                        <p id="user-name">@user.username</p>
                    </div>
                </div>

                @helper.inputPassword(
                    passwordChangeForm("current"),
                    '_label -> "Huidig wachtwoord",
                    'class -> "form-control",
                    'autocomplete -> "off"
                )

                @helper.inputPassword(
                    passwordChangeForm("password.password"),
                    '_label -> "Nieuw wachtwoord",
                    'class -> "form-control",
                    'autocomplete -> "off"
                )

                @helper.inputPassword(
                    passwordChangeForm("password.confirmation"),
                    '_label -> "Nieuw wachtwoord herhalen",
                    '_error -> passwordChangeForm.error("password"),
                    'class -> "form-control",
                    'autocomplete -> "off"
                )
            </fieldset>
            @twFormActions {
                <button type="submit" class="btn btn-primary">Aanpassen</button>
            }
        }
    }
}
