@(startForm: Form[String], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import views.Bootstrap._

@base("Wachtwoord opnieuw instellen")(userContext) {
    <div class="page-header">
        <h1>Wachtwoord opnieuw instellen</h1>
    </div>

    @form(action = controllers.auth.routes.PasswordReset.handleStartResetPassword(), 'class -> "form form-horizontal") {
        @twFormActions {
            <p>Gelieve je e-mail adres in te vullen. Er zal een bericht worden gestuurd naar dit adres om het proces te voltooien.</p>
        }

        @globalFormErrors(startForm)

        <fieldset>
            @helper.inputText(
                startForm("email"),
                '_label -> "Email",
                'class -> "form-control"
            )
        </fieldset>

        @twFormActions {
            <button type="submit" class="btn btn-primary">Opnieuw instellen</button>
            <a class="btn btn-warning" href="@controllers.auth.routes.LoginPage.login()">Annuleren</a>
        }
    }
}
