@(resetForm: Form[controllers.auth.PasswordSet], token: String, user: String, notifications: Html)(implicit request: be.studiocredo.auth.SecureRequest[_])
@import helper._
@import views.Bootstrap._

@base("Reset password")(notifications) {
    <div class="page-header">
        <h1>Reset password</h1>
    </div>

    @form(action = controllers.auth.routes.PasswordReset.handleResetPassword(token, user), 'class -> "form form-horizontal") {
        @globalFormErrors(resetForm)
        <fieldset>
            @helper.inputPassword(
                resetForm("password"),
                '_label -> "Password",
                'class -> "form-control"
            )

            @helper.inputPassword(
                resetForm("confirmation"),
                '_label -> "Password confirmation",
                '_error -> resetForm.error("password"),
                'class -> "form-control"
            )
        </fieldset>

        @twFormActions {
            <button type="submit" class="btn btn-primary">Reset Password</button>
        }
    }
}


