@(resetForm: Form[controllers.auth.PasswordSet], token: String, user: String, firstTime: Boolean, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import views.Bootstrap._

@base(if (firstTime) "Wachtwoord instellen" else "Wachtwoord opnieuw instellen")(userContext) {
    <div class="page-header">
        <h1>@if(firstTime) { Wachtwoord instellen } else { Wachtwoord opnieuw instellen }</h1>
    </div>

    @form(action = if (firstTime) controllers.auth.routes.PasswordReset.handleActivateProfile(token, user) else controllers.auth.routes.PasswordReset.handleResetPassword(token, user), 'class -> "form form-horizontal") {
        @globalFormErrors(resetForm)
        <fieldset>
            @helper.inputPassword(
                resetForm("password"),
                '_label -> "Wachtwoord",
                'class -> "form-control",
                'autocomplete -> "off"
            )

            @helper.inputPassword(
                resetForm("confirmation"),
                '_label -> "Wachtwoord herhalen",
                '_error -> resetForm.error("password"),
                'class -> "form-control",
                'autocomplete -> "off"
            )
        </fieldset>

        @twFormActions {
            <button type="submit" class="btn btn-primary">@if(firstTime) { Instellen } else { Opnieuw instellen }</button>
        }
    }
}


