@(startForm: Form[String], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import views.Bootstrap._

@base("Registreren")(userContext) {
    <div class="page-header">
        <h1>Registreren als nieuwe gebruiker</h1>
    </div>

    @form(action = controllers.auth.routes.SignUp.handleStartSignUp(), 'class -> "form form-horizontal") {
        @twFormActions {
            <p>Gelieve je e-mail adres in te vullen. Er zal een bericht worden gestuurd naar dit adres om het proces te voltooien.</p>
        }

        @globalFormErrors(startForm)
        <fieldset>
            @helper.inputText(
                startForm("email"),
                '_label -> "Email",
                'class -> "form-control"
            )
        </fieldset>

        @twFormActions {
            <button type="submit" class="btn btn-primary">Registreren</button>
            <a class="btn btn-warning" href="@controllers.auth.routes.LoginPage.login()">Annuleren</a>
        }

        @twFormActions {
            <div class="alert alert-info">
                <p><strong>Ben je reeds lid van Studio Credo?</strong> Dan werd er voor jou een profiel aangemaakt op basis van de gegevens
                van je inschrijving. Deze informatie werd je per e-mail toegestuurd. Om pre-reservaties te kunnen doen, moet je het door ons aangemaakte
                profiel gebruiken.</p>
                <p>Indien je toch geen e-mail zou ontvangen hebben, gelieven ons te contacteren via <a href="mailto:tickets@@studiocredo.be">tickets@@studiocredo.be</a></p>
            </div>
        }
    }


}
