@(startForm: Form[String], email: String, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import helper._
@import views.Bootstrap._

@base("Registreren")(userContext) {
    <div class="page-header">
        <h1>Registreren als nieuwe gebruiker</h1>
    </div>


    <div class="alert alert-warning">

        <p>Er bestaan reeds één of meerdere gebruikers met e-mail adres '@email'. Wat wil je doen?</p>
        <ul>
            <li>Ik ben mijn wachtwoord vergeten en wil het <a href="@controllers.auth.routes.PasswordReset.startResetPassword()">opnieuw instellen</a></li>
            <li>Ik wil <em>toch</em> <a href="@controllers.auth.routes.SignUp.forceHandleStartSignUp(email)">een nieuwe gebruiker aanmaken</a> met hetzelfde e-mail adres.</li>
        </ul>
    </div>
}
