@(courseForm: Form[entities.CourseEdit])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import controllers.admin.routes
@import helper._

@base("Add course") {

    <h1>Add new course</h1>

    @form(action = routes.Courses.save(), 'class -> "form form-horizontal") {

        @coursesForm(courseForm)

        @twFormActions  {
            <input type="submit" value="Add Course" class="btn btn-primary">
            <a href="@routes.Courses.list()" class="btn btn-warning">Cancel</a>
        }
    }
}
