@(currentPage: Page[entities.Event])(implicit flash: Flash)
@import controllers.admin.routes

@base("Events") {

    <div>
    <a class="btn btn-primary" id="add" href="@routes.Events.create()">Add new</a>
    </div>

    @if(!currentPage.isEmpty) {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>description</th>
                    <th>Archived</th>
                </tr>
            </thead>
            <tbody>
            @currentPage.items.map { event =>
                <tr>
                    <td>@event.id</td>
                    <td><a href="@routes.EventDetails.view(event.id)">@event.name</a></td>
                    <td>@event.description</td>
                    <td>@event.archived</td>
                    <td><a class="btn btn-default btn-xs" href="@{routes.Events.edit(event.id)}">Edit</a></td>
                </tr>
            }
            </tbody>
        </table>

        @helper.paging(currentPage, (page:Int) => routes.Events.list(page))
    } else {
        <div class="well">
            <em>No events found</em>
        </div>

    }

}
