@(eventForm: Form[entities.EventWithPriceEdit], priceOptions: views.helper.Options[entities.PriceCategory])(implicit lang: Lang)

@import helper._
@import views.Bootstrap._
@import math.max

@globalFormErrors(eventForm, 'class -> "col-lg-10 col-lg-offset-2 alert alert-warning")

<fieldset>

    @inputText(eventForm("name"), '_label -> "Naam",  'class -> "form-control")
    @inputText(eventForm("description"), '_label -> "Beschrijving", 'class -> "form-control")
    @inputText(eventForm("preReservationStart"), '_label -> "Start pre-reservaties", 'class -> "form-control", '_help -> "Datum ('yyyy-MM-dd HH:mm'). Laat leeg indien geen pre-reservaties")
    @inputText(eventForm("preReservationEnd"), '_label -> "Einde pre-reservaties", 'class -> "form-control", '_help -> "Datum ('yyyy-MM-dd HH:mm'). Laat leeg indien geen pre-reservaties")
    @inputText(eventForm("reservationStart"), '_label -> "Start reservaties", 'class -> "form-control", '_help -> "Datum ('yyyy-MM-dd HH:mm'). Laat leeg indien geen periode voor reservaties")
    @inputText(eventForm("reservationEnd"), '_label -> "Einde reservaties", 'class -> "form-control", '_help -> "Datum ('yyyy-MM-dd HH:mm'). Laat leeg indien geen periode voor reservaties")
    @inputText(eventForm("template"), '_label -> "Ticket template",  'class -> "form-control", '_help -> "Bestandsnaam van het PDF template bestand voor tickets")
    @formErrors(eventForm, "quota", 'class -> "col-lg-10 col-lg-offset-2 alert alert-warning")
    @inputText(eventForm("quota.default"), '_label -> "Standaard quota",  'class -> "form-control", '_help -> "Het standaard maximum aantal tickets per bestelling")
    @inputText(eventForm("quota.values"), '_label -> "Gebruikersquota",  'class -> "form-control", '_help -> "Het maximum aantal tickets per aantal gekoppelde gebruikers (bv. '1:3, 2:5'). Moet sleutels bevatten voor 1 gebruiker en opeenvolgende aantallen. De waarden moet oplopen en kleiner zijn dat de standaard quota")

    <div class="col-lg-10 col-lg-offset-2 alert alert-warning" role="alert">
        <p>Opgelet wanneer het evenement met pre-reservaties werkt: Het quota voor het aantal tickets per bestelling moet minstens even groot zijn als het aantal
        pre-reservaties per familie, anders kan je niet alle pre-resercvaties in één bestelling afwerken. Bij de eerste bestelling zullen de niet gebruikte pre-reservaties automatisch
        vervallen. Voorbeeld: een familie van 3 gekoppelde gebruikers met elk 3 pre-reservaties moet minstens 9 tickets kunnen bestellen: <code>1:5, 2:8, 3:10</code></p>
    </div>

    @twCheckbox(eventForm("archived"), '_label -> "Gearchiveerd")

</fieldset>

<h2>Prijs</h2>

<div class="pricing">

    @formErrors(eventForm, "pricing", 'class -> "col-lg-10 col-lg-offset-2 alert alert-warning")

    @defining(eventForm("pricing").indexes.length) { numberPricings =>
    @repeat(eventForm("pricing"), min = max(numberPricings,1)) { pricingFrom =>

        <fieldset>
            <div class="row">
                @rselect(pricingFrom("category"), priceOptions, '_label -> "Categorie",  '_showConstraints -> false, '_label -> "Categorie", 'labelClass -> "col-sm-3 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Categorie", 'class -> "pricing-category form-control form-inline-control")
            </div>
            <div class="row">
                @inputText(pricingFrom("price"), '_label -> "Prijs", 'labelClass -> "col-sm-3 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Prijs in euro", 'class -> "pricing-price form-control form-inline-control")
            </div>

            <div class="row">
                <div class="col-sm-12" >
                    <div class="pricing-delete text-right @if(numberPricings<=1){ hidden }">
                        <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>

            <hr>
        </fieldset>
    }
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="pricing-add text-right">
                <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='@routes.Assets.at("js/event-price-edit.js")'></script>
