@(eventForm: Form[entities.EventEdit])(implicit lang: Lang)

@import helper._
@import views.Bootstrap._

<fieldset>

    @inputText(eventForm("name"), '_label -> "Naam",  'class -> "form-control")
    @inputText(eventForm("description"), '_label -> "Beschrijving", 'class -> "form-control")
    @inputText(eventForm("preReservationStart"), '_label -> "Start pre-reservaties", 'class -> "form-control")
    @inputText(eventForm("preReservationEnd"), '_label -> "Einde pre-reservaties", 'class -> "form-control")
    @inputText(eventForm("reservationStart"), '_label -> "Start reservaties", 'class -> "form-control")
    @inputText(eventForm("reservationEnd"), '_label -> "Einde reservaties", 'class -> "form-control")
    @twCheckbox(eventForm("archived"), '_label -> "Gearchiveerd")
</fieldset>
