@(eventForm: Form[entities.EventWithPriceEdit], priceOptions: views.helper.Options[entities.PriceCategory])(implicit lang: Lang)

@import helper._
@import views.Bootstrap._
@import math.max

@globalFormErrors(eventForm)

<fieldset>

    @inputText(eventForm("name"), '_label -> "Naam",  'class -> "form-control")
    @inputText(eventForm("description"), '_label -> "Beschrijving", 'class -> "form-control")
    @inputText(eventForm("preReservationStart"), '_label -> "Start pre-reservaties", 'class -> "form-control")
    @inputText(eventForm("preReservationEnd"), '_label -> "Einde pre-reservaties", 'class -> "form-control")
    @inputText(eventForm("reservationStart"), '_label -> "Start reservaties", 'class -> "form-control")
    @inputText(eventForm("reservationEnd"), '_label -> "Einde reservaties", 'class -> "form-control")
    @inputText(eventForm("template"), '_label -> "Ticket template",  'class -> "form-control", '_help -> "Bestandsnaam van het PDF template bestand voor tickets")
    @inputText(eventForm("quota.default"), '_label -> "Standaard quota",  'class -> "form-control", '_help -> "Het standaard maximum aantal tickets per bestelling")
    @inputText(eventForm("quota.values"), '_label -> "Gebruikersquota",  'class -> "form-control", '_help -> "Het maximum aantal tickets per aantal gekoppelde gebruikers")
    @twCheckbox(eventForm("archived"), '_label -> "Gearchiveerd")

</fieldset>

<h2>Prijs</h2>

<div class="pricing">

    @defining(eventForm("pricing").indexes.length) { numberPricings =>
    @repeat(eventForm("pricing"), min = max(numberPricings,1)) { pricingFrom =>

        <fieldset>
            <div class="row">
                @rselect(pricingFrom("category"), priceOptions, '_label -> "Categorie",  '_showConstraints -> false, '_label -> "Categorie", 'labelClass -> "col-sm-3 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Categorie", 'class -> "pricing-category form-control form-inline-control")
            </div>
            <div class="row">
                @inputText(pricingFrom("price"), '_label -> "Prijs", 'labelClass -> "col-sm-3 text-right", 'inputDivClass -> "col-sm-4", 'placeholder -> "Prijs in euro", 'class -> "pricing-price form-control form-inline-control")
            </div>

            <div class="row">
                <div class="col-sm-12" >
                    <div class="pricing-delete text-right @if(numberPricings<=1){ hidden }">
                        <button type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </div>
            </div>

            <hr>
        </fieldset>
    }
    }

    <div class="row">
        <div class="col-sm-12">
            <div class="pricing-add text-right">
                <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='@routes.Assets.at("js/event-price-edit.js")'></script>
