@(id: Long, groupForm: Form[entities.GroupEdit], courses: views.helper.Options[entities.Course])(implicit flash: Flash)
@import controllers.admin.routes
@import helper._

@base("Edit class") {

    <h1>Edit a class
        @form(routes.Groups.delete(id), 'class -> "pull-right") {
            <input type="submit" value="Delete this group" class="btn btn-danger">
            }
    </h1>


    @form(action = routes.Groups.update(id), 'class -> "form form-horizontal") {

        @groupsForm(groupForm, courses)

        <div class="actions">
            <input type="submit" value="Update class" class="btn btn-primary">
            <a href="@routes.Groups.list()" class="btn btn-warning">Cancel</a>
        </div>
    }
}
