@(info: models.admin.GroupDetail)(implicit request: be.studiocredo.auth.SecureRequest[_])
@import helper._
@import controllers.admin.routes
@base("Class: " + info.group.name) {

    <div class="page-header">
        <h1>@info.group.name <small>@info.group.year: @info.course.name</small></h1>
    </div>

    <h2>Members</h2>

    @if(!info.members.isEmpty) {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
            @info.members.map { member =>
                <tr>
                    <td><a href="@routes.MemberDetails.view(member.id)">@member.name</a></td>
                    <td>@member.address</td>
                    <td>@member.phone</td>
                </tr>
            }
            </tbody>
        </table>
    } else {
        <div class="well">
            <em>This class has no members.</em>
        </div>
    }

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Add member to this class</h3>
                </div>
                <div class="panel-body">
                @form(action = routes.GroupDetails.addMembers(info.id), 'class -> "form") {
                    <input name="member" type="hidden" class="member-sel2" data-group-id="@info.id" style="display: block">

                    <input type="submit" value="Add" class="btn btn-primary">
                    }
                </div>
            </div>

        </div>
    </div>
}



