@(groupForm: Form[entities.GroupEdit], courses: views.helper.Options[entities.Course])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import controllers.admin.routes
@import helper._

@base("Add class") {

    <h1>Add new class</h1>

    @form(action = routes.Groups.save(), 'class -> "form form-horizontal") {

        @groupsForm(groupForm, courses)

        @twFormActions {
            <input type="submit" value="Add Class" class="btn btn-primary">
            <a href="@routes.Groups.list()" class="btn btn-warning">Cancel</a>
        }

    }
}
