@(memberForm: Form[models.admin.MemberFormData])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import controllers.admin.routes
@import helper._

@base("Add member") {

    <h1>Add new member</h1>

    @form(action = routes.Members.save(), 'class -> "form form-horizontal") {

        @membersForm(memberForm)

        @twFormActions {
            <input type="submit" value="Add member" class="btn btn-primary">
            <a href="@routes.Members.list()" class="btn btn-warning">Cancel</a>
        }

    }
}

