@(memberForm: Form[models.admin.MemberFormData])

@import helper._
@import views.Bootstrap._

<fieldset>

    @inputText(memberForm("name"), '_label -> "Name",  'class -> "form-control")
    @inputText(memberForm("username"), '_label -> "Username",  'class -> "form-control")
    @inputText(memberForm("email"), '_label -> "E-mail", 'class -> "form-control")
    @textarea(memberForm("address"), '_label -> "Address", 'class -> "form-control")
    @inputText(memberForm("phone"), '_label -> "phone", 'class -> "form-control")
</fieldset>
