@(currentPage: Page[entities.Member])(implicit flash: Flash)
@import controllers.admin.routes
@base("Members") {

    <div>
    <a class="btn btn-primary" id="add" href="@routes.Members.create()">Add new</a>
    </div>

    @if(!currentPage.isEmpty) {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Archived</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            @currentPage.items.map { member =>
                <tr>
                    <td>@member.id</td>
                    <td><a href="@{routes.MemberDetails.view(member.id)}">@member.name</a></td>
                    <td>@member.address</td>
                    <td>@member.phone</td>
                    <td>@member.archived</td>
                    <td><a class="btn btn-default btn-xs" href="@{routes.Members.edit(member.id)}">Edit</a></td>
                </tr>
            }
            </tbody>
        </table>

        @helper.paging(currentPage, (page:Int) => routes.Members.list(page))
    } else {
        <div class="well">
            <em>No members found</em>
        </div>

    }

}
