@(currentPage: Page[models.entities.OrderPayments], orderSearchForm: Form[controllers.admin.OrderSearchFormData], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)

@import controllers.admin.routes
@import helper._
@import views.Bootstrap._
@import be.studiocredo.util.Money

@base("Administratie: Bestellingen")(userContext) {

    <div class="row actions-bar">
        <div class="col-md-3">
            @form(action = routes.Orders.sendAndCreateNewTickets(), 'class -> "form form-inline form-no-feedback") {
                <button type="submit" class="btn btn-primary" data-loading-text="Bezig..." onclick="$(this).button('loading');">Nieuwe tickets verzenden</button>
            }
        </div>
        <div class="col-md-9">
            @form(action = routes.Orders.list(), 'class -> "form form-inline form-no-feedback") {
                @inputText(orderSearchForm("search"), '_label -> "Zoekopdracht",  '_labelclass -> "sr-only", '_inputclass -> "", 'class -> "form-control", 'placeholder -> "Zoekopdracht", '_showConstraints -> false, '_showErrors -> false)
                @inputRadioGroup(orderSearchForm("paid").copy(value=orderSearchForm("paid").value.map{Some(_)}.getOrElse(Some(views.helper.OrderPaidOption.default.id))), views.helper.OrderPaidOption.mapper, '_label -> "Status",  '_labelclass -> "sr-only", '_inputclass -> "", 'class -> "checkbox-inline", '_showConstraints -> false, '_showErrors -> false)
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            }
        </div>
     </div>

    @if(!currentPage.isEmpty) {


    <div data-ng-controller="DismissModalCtrl">

        <script type="text/ng-template" id="dismissModalContent.html">
            <div class="modal-header">
                <h4 class="modal-title">Bestelling verwijderen?</h4>
            </div>
            <div class="modal-body">
                <b>{{ message }}</b>
            </div>
            <div class="modal-footer">
                <form action="{{ confirmUrl }}" method="POST" role="form">
                    <button type="submit" class="btn btn-success" data-ng-click="ok()">Ja</button>
                    <button type="button" class="btn btn-warning" data-ng-click="cancel()">Nee</button>
                </form>
            </div>
        </script>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Datum</th>
                    <th>Gebruiker</th>
                    <th>Naam</th>
                    <th>Show</th>
                    <th># Tickets</th>
                    <th>Prijs</th>
                    <th>Saldo</th>
                    <th/>
                    <th/>
                    <th/>
                </tr>
            </thead>
            @currentPage.items.zipWithIndex.map { case (order, orderIndex) =>
            @defining(if (orderIndex % 2 == 0) "tbody-even" else "tbody-odd") { bgClass =>
            <tbody class="@bgClass">
                @if(order.order.ticketOrders.isEmpty) {
                    <tr class="danger">
                        <td><button class="btn btn-danger btn-xs" data-ng-click="open('@{routes.Orders.cancel(order.order.id)}', 'Bestelling @order.order.id: @{order.order.order.billingName} - zonder ticket(s)')"><span class="glyphicon glyphicon-remove"></span></button></td>
                        <td><a href="@{routes.Orders.details(order.order.id)}">@order.order.id</a></td>
                        <td>@HumanDateTime.formatDateTimeCompact(order.order.order.date)</td>
                        <td><a href="@{routes.UserDetails.view(order.order.user.id)}">@order.order.user.username</a></td>
                        <td>@order.order.order.billingName</td>
                        <td/>
                        <td/>
                        <td>@CurrencyFormat.format(order.order.price)</td>
                        <td>
                            @if(order.isPaid) {
                                <span class="badge badge-success">OK</span>
                            } else {
                                <span class="@if(order.balance.amount < 0){ text-danger } else { text-warning }">@CurrencyFormat.format(order.balance)</span>
                            }
                        </td>
                        <td>
                            @if(order.order.order.comments.isDefined) {
                            <button type="button" class="btn btn-warning btn-xs" data-popover-placement="left" data-popover="@order.order.order.comments">
                                <span class="glyphicon glyphicon-comment"></span>
                            </button>
                            }
                        </td>
                        <td>
                            @form(action = routes.Orders.edit(order.order.id), 'class -> "form form-inline form-no-feedback") {
                            <button type="submit" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            }
                        </td>
                        <td/>
                    </tr>
                }
                @order.order.ticketOrders.zipWithIndex.map { case (ticketOrder, index) =>
                @defining(index ==0) { first =>
                    <tr>
                        <td>@if(first) { <button class="btn btn-danger btn-xs" data-ng-click="open('@{routes.Orders.cancel(order.order.id)}', 'Bestelling @order.order.id: @{order.order.order.billingName} - @{ticketOrder.ticketSeatOrders.length} ticket(s)')"><span class="glyphicon glyphicon-remove"></span></button> }</td>
                        <td>@if(first) { <a href="@{routes.Orders.details(order.order.id)}">@order.order.id</a> }</td>
                        <td>@if(first) { @HumanDateTime.formatDateTimeCompact(order.order.order.date) }</td>
                        <td>@if(first) { <a href="@{routes.UserDetails.view(order.order.user.id)}">@order.order.user.username</a> }</td>
                        <td>@if(first) { @order.order.order.billingName }</td>
                        <td>@helper.showName(ticketOrder.show)&nbsp;<a href="@{routes.Orders.show(ticketOrder.show.id)}"><span class="glyphicon glyphicon-share-alt"></span></a></td>
                        <td><a href="#" class="seat-popovers" data-tooltip-placement="left" data-tooltip="@{ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.mkString(", ")}"><span class="badge badge-primary">@ticketOrder.ticketSeatOrders.length</span></a></td>
                        <td>@if(first) { @CurrencyFormat.format(order.order.price) }</td>
                        <td>
                            @if(first) {
                                @if(order.isPaid) { <span class="badge badge-success">OK</span> }
                                @if(!order.isPaid && !order.payments.isEmpty) { <span class="@if(order.balance.amount < 0){ text-danger } else { text-warning }">@CurrencyFormat.format(order.balance)</span> }
                            }
                        </td>
                        <td>
                            @if(first) {
                                @if(order.order.order.comments.isDefined) {
                                <button type="button" class="btn btn-warning btn-xs" data-popover-placement="left" data-popover="@order.order.order.comments">
                                    <span class="glyphicon glyphicon-comment"></span>
                                </button>
                                }
                            }
                        </td>
                        <td>
                            @if(first) {
                                @form(action = routes.Orders.edit(order.order.id), 'class -> "form form-inline form-no-feedback") {
                                    <button type="submit" class="btn btn-primary btn-xs">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                }
                            }
                        </td>
                        <td>
                            @if(first) {
                                @if(order.isPaid) {
                                    @form(action = routes.Orders.showTicket(order.order.id), 'class -> "form form-inline form-no-feedback") {
                                        <button type="submit" class="btn btn-default btn-xs">Ticket downloaden</button>
                                    }
                                } else {
                                    @form(action = routes.Orders.confirm(order.order.id), 'class -> "form form-inline form-no-feedback") {
                                        <button type="submit" class="btn btn-default btn-xs">Bevestiging zenden</button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
                }
            </tbody>
            }
            }
        </table>

        @helper.paging(currentPage, (page:Int) => routes.Orders.list(orderSearchForm("search").value, orderSearchForm("paid").value.getOrElse(views.helper.OrderPaidOption.default.id), page))

     </div>
    } else {
        <div class="well">
            <em>Geen bestellingen gevonden.</em>
        </div>

    }

}

