@(paymentForm: Form[entities.PaymentEdit], orders: views.helper.Options[entities.Order], paymentTypes: views.helper.Options[entities.PaymentType.PaymentType], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import controllers.admin.routes
@import helper._

@base("Administratie: Betaling toevoegen")(userContext) {

    <h1>Betaling toevoegen</h1>

    @form(action = routes.Payments.save(), 'class -> "form form-horizontal") {

        @paymentsForm(paymentForm, orders, paymentTypes)

        @twFormActions {
            <input type="submit" value="Toevoegen" class="btn btn-primary">
            <a href="@routes.Payments.list()" class="btn btn-warning">Annuleren</a>
        }

    }
}
