@(currentPage: Page[models.entities.ShowPrereservationDetail], prereservationsSearchForm: Form[controllers.admin.PrereservationsSearchFormData], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)

@import controllers.admin.routes
@import helper._
@import views.Bootstrap._
@import be.studiocredo.util.Money

@base("Administratie: Pre-reservaties")(userContext) {

    <div class="actions-bar">
        @form(action = routes.Prereservations.list(), 'class -> "form form-inline form-no-feedback") {
            @inputText(prereservationsSearchForm("search"), '_label -> "Zoekopdracht",  '_labelclass -> "sr-only", '_inputclass -> "", 'class -> "form-control", 'placeholder -> "Zoekopdracht", '_showConstraints -> false, '_showErrors -> false)
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        }
    </div>

    @if(!currentPage.isEmpty) {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Show</th>
                    <th>Aantal</th>
                </tr>
            </thead>
            <tbody>
            @currentPage.items.map { preres =>
                <tr>
                    <td><a href="@{routes.UserDetails.view(preres.user.id)}">@preres.user.name</a></td>
                    <td>@helper.showName(preres.show)</td>
                    <td>@preres.quantity</td>
                </tr>
            }
            </tbody>
        </table>

        @helper.paging(currentPage, (page:Int) => routes.Prereservations.list(prereservationsSearchForm("search").value, page))
    } else {
        <div class="well">
            <em>Geen pre-reservaties gevonden.</em>
        </div>

    }

}

