@(eventId: ids.EventId, showId: ids.ShowId, showForm: Form[models.admin.ShowEdit], venues: views.helper.Options[entities.Venue], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import helper._
@import views.Bootstrap._
@import controllers.admin.routes


@base("Administratie: Voorstelling bewerking")(userContext) {

    <h2>Voorstelling bewerken
        @form(routes.EventDetails.deleteShow(eventId, showId), 'class -> "pull-right") {
            <input type="submit" value="Verwijderen" class="btn btn-danger">
            }
    </h2>

    <div>
        @form(action = routes.EventDetails.updateShow(eventId, showId), 'class -> "form form-horizontal") {
        <fieldset>
            @inputText(showForm("date"), '_label -> "Tijdstip", 'class -> "form-control")

            @rselect(
                showForm("venue"),
                venues,
                '_label -> "Locatie",
                '_showConstraints -> false,
                'class -> "form-control"
            )
        </fieldset>
        @twFormActions {
            <input type="submit" value="Aanpassen" class="btn btn-primary">
        }
    }
    </div>
}
