@(userForm: Form[models.admin.UserFormData], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import controllers.admin.routes
@import helper._

@base("Adminitratie: Gebruiker toevoegen")(userContext) {

    <h1>Gebruiker toevoegen</h1>

    @form(action = routes.Users.save(), 'class -> "form form-horizontal") {

        @usersForm(userForm)

        @twFormActions {
            <input type="submit" value="Toevoegen" class="btn btn-primary">
            <a href="@routes.Users.list()" class="btn btn-warning">Annuleren</a>
        }

    }
}

