@(info: models.admin.RichUserWithReservationHistory, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import controllers.admin.routes
@import be.studiocredo.util.Money

@orderRow(user: models.entities.User, ticketOrder: models.entities.TicketOrderDetail)= {
    <td>@user.name</td>
    <td>@showName(ticketOrder.show)</td>
    <td>@ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.mkString(", ") (@ticketOrder.ticketSeatOrders.length)</td>
    <td>@CurrencyFormat.format(ticketOrder.price)</td>
    <td></td>
}

@base("Administratie: Gebruiker " + info.user.name)(userContext) {

    <div class="page-header">
        <h1>@info.user.name <small>@info.user.email</small>
            @form(routes.Users.edit(info.user.id), 'class -> "pull-right") {
                <a class="btn btn-danger" href="@{routes.Users.sudo(info.user.id)}">Sudo</a>
                <input type="submit" value="Bewerken" class="btn btn-warning">
            }
        </h1>
        <p>
        @address(info.user.addressLines)
        </p>
        <p>
        @info.user.phone
        </p>

        @if(!info.otherUsers.isEmpty) {
        <p>
            <em>Gekoppelde gebruikers:</em>
            @info.otherUsers.map { otherUser =>
            <a href="@routes.UserDetails.view(otherUser.id)" class="btn btn-default btn-xs" role="button">@otherUser.name</a>
            }
        </p>
        }

    </div>

    <div>
        <h3>Bestellingen</h3>
        @if(info.orders.isEmpty) {
            <p class="disabled">Geen bestellingen gevonden.</p>
        } else {
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Naam</th>
                    <th>Voorstelling</th>
                    <th>Plaatsen</th>
                    <th>Prijs</th>
                    <th>Betaling</th>
                </tr>
                </thead>
                <tbody>
                @info.orders.map { order =>
                @defining(order.ticketOrders match { case head :: tail => (Some(head), tail); case _ => (None, Nil) }) { tuple =>
                @defining(tuple._1) { first =>
                @defining(tuple._2) { tail =>
                    @first match {
                        case Some(first) => {
                            <tr>
                                <td>@HumanDateTime.formatDateCompact(order.order.date)</td>
                                @orderRow(order.user, first)
                            </tr>
                        }
                        case None => { }
                    }
                    @tail.map { ticketOrder =>
                    <tr>
                        <td/>
                        @orderRow(order.user, ticketOrder)
                    </tr>
                    }
                }
                }
                }
                }
                </tbody>
            </table>
        }
    </div>

    <div>
        <h3>Pre-reservaties</h3>
        @if(info.prereservations.isEmpty && info.pendingPrereservations.showMap.isEmpty) {
            <p class="disabled">Geen pre-reservaties gevonden.</p>
        } else {
            @info.shows.map { show =>
                <h4 class="text-info">@showName(show)</h4>
                <table class="table table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Aantal</th>
                    </tr>
                    </thead>
                    <tbody>
                        @info.prereservationsByShow.getOrElse(show, List()).map { prereservation =>
                        <tr>
                            <td>@prereservation.user.name</td>
                            <td><strong>@prereservation.quantity</strong></td>
                        </tr>
                        }
                        @info.unusedPreReservationsByShow.get(show) match {
                            case Some(quotum) => {
                                <tr>
                                    <td class="text-danger">Ongebruikt</td>
                                    <td class="text-danger"><strong>@quotum</strong></td>
                                </tr>
                            }
                            case None => { }
                        }
                    </tbody>
                </table>
            }
        }
    </div>

    <div>
        <h3>Quota</h3>
        @if(info.reservationQuota.isEmpty && info.unusedQuota.eventMap.isEmpty) {
        <p class="disabled">Geen quota gevonden.</p>
        } else {
            @info.events.map { event =>
            <h4 class="text-info">@event.name</h4>
            <table class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Aantal</th>
                    </tr>
                </thead>
                <tbody>
                    @info.quotaByEvent.getOrElse(event, List()).map { quotum =>
                        <tr>
                            <td>@quotum.user.name</td>
                            <td><strong>@quotum.quota</strong></td>
                        </tr>
                    }
                    @info.unusedQuotaByEvent.get(event) match {
                        case Some(quotum) => {
                        <tr>
                            <td class="text-danger">Ongebruikt</td>
                            <td class="text-danger"><strong>@quotum</strong></td>
                        </tr>
                        }
                        case None => { }
                    }
                </tbody>
            </table>
            }
        }
    </div>

}

