@(userForm: Form[models.admin.UserFormData])(implicit lang: Lang)

@import helper._
@import views.Bootstrap._

<fieldset>

    @inputText(userForm("name"), '_label -> "Naam",  'class -> "form-control")
    @inputText(userForm("username"), '_label -> "Gebruikersnaam",  'class -> "form-control")
    @inputText(userForm("email"), '_label -> "E-mail", 'class -> "form-control")
    @textarea(userForm("address"), '_label -> "Adres", 'class -> "form-control")
    @inputText(userForm("phone"), '_label -> "Telefoon", 'class -> "form-control")
</fieldset>
