@(id: Long, venueForm: Form[entities.VenueEdit], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_])
@import controllers.admin.routes
@import helper._

@base("Administratie: Locatie bewerken")(userContext) {

    <h1>Locatie bewerken
        @form(routes.Venues.delete(id), 'class -> "pull-right") {
            <input type="submit" value="Verwijderen" class="btn btn-danger">
            }
    </h1>


    @form(action = routes.Venues.update(id), 'class -> "form form-horizontal") {

        @venuesForm(venueForm)

        @twFormActions {
            <input type="submit" value="Aanpassen" class="btn btn-primary">
            <a href="@routes.Venues.list()" class="btn btn-warning">Annuleren</a>
        }
    }
}
