@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang)

@min = @{ args.toMap.get('min).getOrElse(0) }
@max = @{ args.toMap.get('max).getOrElse(9) }
@maxLength = @{ args.toMap.get('maxLength).getOrElse(2) }

@helper.input(field, '_showConstraints -> false :: args.toList:_*) { (id, name, value, htmlArgs) =>
    <div class="row amount-input">
        <div class="col-xs-6 col-xs-offset-5">
            <input id="@id" name="@name" maxlength="@maxLength" class="form-control input-xl text-right" value="@value" onkeypress="return CounterInput.isNumberKey(event);">
        </div>

        <div class="col-xs-1 pull-middle">
            <div class="btn-group-vertical text-left">
                <button type="button" class="btn btn-primary btn-xs" onclick="CounterInput.increment($('#@id'),@max);">+</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="CounterInput.decrement($('#@id'),@min);">-</button>
            </div>
        </div>
    </div>
}