@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit handler: FieldConstructor, lang: play.api.i18n.Lang)

@min = @{ args.toMap.get('min).getOrElse(0) }
@max = @{ args.toMap.get('max).getOrElse(9) }
@maxLength = @{ args.toMap.get('maxLength).getOrElse(2) }
@ngModelIndex = @{ args.toMap.get('ngModelIndex).getOrElse("") }

@helper.input(field, '_showConstraints -> false :: args.toList:_*) { (id, name, value, htmlArgs) =>
    <div class="row amount-input">
        <div class="col-xs-6 col-xs-offset-5">
            <input id="@id" type="number" digits-only maxlength="@maxLength" minlength="1" name="@name" min="@min" max="@max" data-ng-pattern="/[0-9]+/" data-ng-minlength="1" data-ng-maxlength="@maxLength" data-ng-required="true" class="form-control input-xl text-right" data-ng-model="values[@ngModelIndex]" data-ng-init="values[@ngModelIndex] = @value">
        </div>

        <div class="col-xs-1 pull-middle">
            <div class="btn-group-vertical text-left">
                <button type="button" class="btn btn-primary btn-xs" data-ng-click="increment(@ngModelIndex, @max)">+</button>
                <button type="button" class="btn btn-primary btn-xs" data-ng-click="decrement(@ngModelIndex, @min)">-</button>
            </div>
        </div>
    </div>
}