@(currentPage: Page[_], link: (Int => play.api.mvc.Call))

<ul class="pager">
    @currentPage.prev.map { page =>
    <li>
        <a href="@link(page)">&larr; Vorige</a>
    </li>
    }.getOrElse {
        <li class="disabled">
            <a>&larr; Vorige</a>
        </li>
    }
    @currentPage.next.map { page =>
    <li>
        <a href="@link(page)">Volgende &rarr;</a>
    </li>
    }.getOrElse {
        <li class="disabled">
            <a>Volgende &rarr;</a>
        </li>
    }
    <li class="pull-right">
        Resultaat @(currentPage.offset + 1) tot @(Math.min(currentPage.offset + currentPage.size, currentPage.total)) (totaal @currentPage.total)
    </li>
</ul>
