@(user: models.admin.RichUser, ticket: models.entities.TicketDocument)
@import helper._
@import models.CurrencyFormat

@orderRow(user: models.entities.User, ticketOrder: models.entities.TicketOrderDetail)= {
<td>@showName(ticketOrder.show)</td>
<td>
    @defining(ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.grouped(5).map(_.mkString(", ")).toSeq) { groupedSeats =>
    @groupedSeats.tail.foldLeft(Html(groupedSeats.head)) { (result, seat) =>
    @result<br/>@seat
    }
    }
</td>
<td>@ticketOrder.ticketSeatOrders.length</td>
<td>@CurrencyFormat.format(ticketOrder.price)</td>
}

<html>
    <body>
        <p>Beste @user.name,</p>

        <p>In bijlage vind je de e-tickets van je bestelling.</p>

        <h1>Factuurgegevens</h1>
        <p>
            <strong>@ticket.order.order.billingName</strong><br>
            @newlines(ticket.order.billingAddressLines)
        </p>

        <h1>Bestelling</h1>
        <table cellpadding="3px">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Voorstelling</th>
                <th>Plaatsen</th>
                <th>Aantal</th>
                <th>Prijs</th>
            </tr>
            </thead>
            <tbody>

            @defining(ticket.order.ticketOrders match { case head :: tail => (Some(head), tail); case _ => (None, Nil) }) { tuple =>
            @defining(tuple._1) { first =>
            @defining(tuple._2) { tail =>
            @first match {
            case Some(first) => {
            <tr>
                <td>@HumanDateTime.formatDateCompact(ticket.order.order.date)</td>
                @orderRow(ticket.order.user, first)
            </tr>
            }
            case None => { }
            }
            @tail.map { ticketOrder =>
            <tr>
                <td/>
                @orderRow(ticket.order.user, ticketOrder)
            </tr>
            }
            }
            }
            }
            </tbody>
        </table>

        <p>Deze tickets gelden als toegangsbewijs. Je dient ze af te drukken en mee te brengen naar de voorstelling.</p>

        <p>Tot binnenkort,</p>
        @emailFooter()
    </body>
</html>