@(info: models.admin.EventDetail)(implicit request: be.studiocredo.auth.SecureRequest[_], dateFormatter: org.joda.time.format.DateTimeFormatter)

@base("Reservation for " + info.event.name, helper.counterScripts()) {

<div class="page-header">
    <h1>Reservation for @info.event.name </h1>
</div>

@if(!info.shows.isEmpty) {
    @info.shows.map { case (venue, shows) =>
    @shows.map { show =>
    <div class="row">
        <div class="col-xs-6">Voorstelling @dateFormatter.print(show.date)<br/>@venue.name</div>
        <div class="col-xs-3">@helper.counterInput("counter-"+show.id, 0)</div>
        <div class="col-xs-3"></div>
    </div>
    }
    }
} else {
<div class="well">
    <em>No shows planned for this event.</em>
</div>
}

}
