@import "sprite.less";

.spacers(@spacer-size, @index) when (@index > 0) {
	.spacer-@{index} {
		width: @spacer-size * @index;
	}

	.spacers(@spacer-size, @index - 1);
}
.spacers(@spacer-sizer, 0) {}

.vspacers(@vspacer-size, @index) when (@index > 0) {
	.vspacer-@{index} {
		margin-bottom: @vspacer-size * @index;
	}

	.vspacers(@vspacer-size, @index - 1);
}
.vspacers(@spacer-sizer, 0) {}

.seat(@item) {
    @items: '{"mine": 1, "reserved": 2, "disabled": 3, "selected": 3, "vip": 4, "unavailable": 5, "normal": 6, "free": 6 }';
    .sprite('../images/seats_sprite.png', 32px, @item, @items);
}

.fp {
  .content, .seat, .spacer {
    display: inline-block;
  }

  @seat-size: 14px;
  @spacer-size: @seat-size / 2;
  @vspacer-size: 14px;

  padding: 3em;
  background-color: #EEEEEE;
  margin-right: 5em;

  .seat-row {
    margin-bottom: 4px;
    font-size: 0px
  }

  .seat {
    @seat-border: 1px solid black;

    border: @seat-border;
    margin-left: -1px;
    width: @seat-size;
    height: @seat-size;
  }

  .seat-normal {
    background-color: #f2f4ee;
  }

  .seat-vip {
    background-color: #94bff4;
  }

  .seat-disabled {
    background-color: #f4e78e;
  }

  .delete-paint {
    background-color: #f40000;
  }

  .spacer {
    border: none;
    margin-left: -1px;
    height: @seat-size;
  }

  .spacers(@spacer-size, 8);
  .vspacers(@vspacer-size, 8);

  &.fp-edit {
      .spacer {
        @spacer-border: 1px solid grey;

        border: @spacer-border;
        margin-left: -1px;
        height: @seat-size;
        background-color: grey;
      }
  }

  &.fp-fancy-legend {
    @seat-size: 32px;
    @spacer-size: @seat-size / 2;
    @vspacer-size: 32px;

    padding: 0;
    background-color: inherit;
    margin-right: 0;

    .legend-label {
        border: none;
        margin-left: 3px;
        height: @seat-size;
        line-height: @seat-size;
        text-align: left;
        padding-top: @seat-size*0.1;
        padding-left: @seat-size*1.1;
    }

    .legend-label-free {
        .seat("free")
    }

    .legend-label-reserved {
        .seat("reserved")
    }

    .legend-label-unavailable {
        .seat("unavailable")
    }

    .legend-label-mine {
        .seat("mine")
    }

    .legend-label-selected {
        .seat("selected")
    }
  }

  &.fp-fancy {
    @seat-size: 32px;
    @spacer-size: @seat-size / 2;
    @vspacer-size: 32px;

    padding: 0 3em 0 3em;
    background-color: inherit;
    min-width: 760px;
    margin: 0;

    .seat-row {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .seat {
        border: none;
        margin-left: 3px;
        width: @seat-size;
        height: @seat-size;
        line-height: @seat-size;
        text-align: center;
        padding-top: @seat-size*0.1;
    }

    .seat[ng-click],
    .seat[data-ng-click],
    .seat[x-ng-click] {
        cursor: pointer;
    }

    .seat-normal {
        .seat("normal");
    }

    .seat-vip {
        .seat("vip");
    }

    .seat-disabled {
        .seat("disabled");
    }

    .seat-status-free {
        .seat("free")
    }

    .seat-status-reserved {
        .seat("reserved")
    }

    .seat-status-unavailable {
        .seat("unavailable")
    }

    .seat-status-mine {
        .seat("mine")
    }

    .seat-status-selected {
        .seat("selected")
    }

    .delete-paint {
        background-color: #f40000;
    }

    .spacers(@spacer-size,8);
    .vspacers(@vspacer-size,8);
  }
}

.fp-fancy-selection {
  @seat-size: 32px;
  @spacer-size: @seat-size / 2;
  @vspacer-size: 32px;
  padding-bottom: 0px;

  .seat {
      font-size: 10px;;
      border: none;
      margin-left: 3px;
      width: @seat-size;
      height: @seat-size;
      line-height: @seat-size;
      text-align: center;
      padding-top: @seat-size*0.1;
      display: inline-block;
      .seat("selected")
  }

  .btn-group {
      margin: 0 auto 10px auto;
      text-align: center;
      width: inherit;
      display: inline-block;
  }

}





