@import "sprite.less";

.spacers(@spacer-size, @index) when (@index > 0) {
	.spacer-@{index} {
		width: @spacer-size * @index;
	}

	.spacers(@spacer-size, @index - 1);
}
.spacers(@spacer-sizer, 0) {}

.vspacers(@vspacer-size, @index) when (@index > 0) {
	.vspacer-@{index} {
		margin-bottom: @vspacer-size * @index;
	}

	.vspacers(@vspacer-size, @index - 1);
}
.vspacers(@spacer-sizer, 0) {}

.fp {
  .content, .seat, .spacer {
    display: inline-block;
  }

  @seat-size: 14px;
  @spacer-size: @seat-size / 2;
  @vspacer-size: 14px;

  padding: 3em;
  background-color: #EEEEEE;
  margin-right: 5em;

  .seat-row {
    margin-bottom: 4px;
    font-size: 0px
  }

  .seat {
    @seat-border: 1px solid black;

    border: @seat-border;
    margin-left: -1px;
    width: @seat-size;
    height: @seat-size;
  }

  .seat-normal {
    background-color: #f2f4ee;
  }

  .seat-vip {
    background-color: #94bff4;
  }

  .seat-disabled {
    background-color: #f4e78e;
  }

  .delete-paint {
    background-color: #f40000;
  }

  .spacer {
    border: none;
    margin-left: -1px;
    height: @seat-size;
  }

  .spacers(@spacer-size, 8);
  .vspacers(@vspacer-size, 8);

  &.fp-edit {
      .spacer {
        @spacer-border: 1px solid grey;

        border: @spacer-border;
        margin-left: -1px;
        height: @seat-size;
        background-color: grey;
      }
  }

  &.fp-fancy {
    .seat(@item) {
        @items: '{"free": 1, "reserved": 2, "disabled": 3, "vip": 4, "unavailable": 5, "normal": 6 }';
        .sprite('../images/seats_sprite.png', 32px, @item, @items);
    }

    @seat-size: 32px;
    @spacer-size: @seat-size / 2;
    @vspacer-size: 32px;

    padding: 3em;
    background-color: inherit;
    margin-right: 5em;

    .seat-row {
        margin-bottom: 10px;
        font-size: 10px;;
    }

    .seat {
        border: none;
        margin-left: 3px;
        width: @seat-size;
        height: @seat-size;
        line-height: @seat-size;
        text-align: center;
        padding-top: @seat-size*0.1;
    }

    .seat-normal {
        .seat("normal");
    }

    .seat-vip {
        .seat("vip");
    }

    .seat-disabled {
        .seat("disabled");
    }

    .delete-paint {
        background-color: #f40000;
    }

    .spacers(@spacer-size,8);
    .vspacers(@vspacer-size,8);
  }
}





