@import "elements.less";
@import "fonts.less";

@import "offcanvas.less";
@import "floorplan.less";

@credo-yellow: #f9ed31;


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron.front-page-banner {
    .gradient(@credo-yellow, darken(@credo-yellow, 10%), lighten(@credo-yellow, 5%));
    padding: 0;
    margin: -20px 0 0 0;
    .box-shadow(0 10px 20px #999);

    .inner-1 {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-position: -10px 10px;
        padding: 0;
        margin: 0;

        .inner-2 {
            background-image: url('../images/tickets.png');
            background-repeat:no-repeat;
            background-position:110% -10px;
            padding: 0;
            margin: 0;

            .inner-3 {
                padding-left: 200px;
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }
    }

    h1 {
        .title-font();
    }

}

.cropped-logo {
    width: 270px;
    height: 300px;
    overflow: hidden;

    img {
        margin: -20px 0 0 -30px;
    }
}

footer p {
    text-align: center;
    color: #999;
}

.counter-input {
    .input-xl {
        border-radius: 12px;
        font-size: 54px;
        height: 90px;
        line-height: 4;
        padding: 20px 24px;
    }

    textarea.input-xl {
        height: auto;
    }

    .btn-plusmin button {
            margin: 15px 0 0 0;
            width: 1.5em;
    }
}



