@import "elements.less";
@import "fonts.less";

@import "offcanvas.less";
@import "floorplan.less";

@credo-yellow: #f9ed31;


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.jumbotron.front-page-banner {
    .gradient(@credo-yellow, @credo-yellow, lighten(@credo-yellow, 20%));
    padding: 0;
    margin: -20px 0 0 0;
    .box-shadow(0 10px 20px #999);

    .inner-1 {
        background-image: url('../images/logo.png');
        background-repeat: no-repeat;
        background-position: -10px 10px;
        padding: 0;
        margin: 0;

        .inner-2 {
            background-image: url('../images/tickets.png');
            background-repeat:no-repeat;
            background-position:110% -10px;
            padding: 0;
            margin: 0;

            .inner-3 {
                padding-left: 200px;
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }
    }

    h1 {
        .title-font();
    }

}

.cropped-logo {
    width: 270px;
    height: 300px;
    overflow: hidden;

    img {
        margin: -20px 0 0 -30px;
    }
}

footer p {
    text-align: center;
    color: #999;
}

.amount-input {
    .input-xl {
        border-radius: 12px;
        font-size: 54px;
        height: 90px;
        line-height: 4;
        padding: 6px 12px;
    }

    div {
        padding: 0px;
    }
}

.badge-important{background-color:#b94a48;}

.clickable{cursor: pointer}

.form-control.ng-invalid {
    border-color: #A94442;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

div.amount-input ~ .help-inline {
    color: #A94442;
    float: right;
}

div.amount-input ~ .help-block {
    float: right;
}

.upcoming-button {
    .gradient(#d8f0ff, #d8f0ff, #f9fcff);
}