@(users: List[models.admin.RichUser], token: String)(implicit request: RequestHeader)
<html>
    <body>
        <p>Hello,</p>

        @if(users.size == 1) {
            <p>Please follow this <a href="@controllers.auth.routes.PasswordReset.handleResetPassword(token, users.head.username).absoluteURL()">link</a> to reset your password.</p>
        } else {
            There are @users.size accounts connected to your email address. Follow a link to reset your password
            <ol>
                @users.map { user =>
                    <li><a href="@controllers.auth.routes.PasswordReset.handleResetPassword(token, user.username).absoluteURL()">@user.username (@user.name)</a></li>
                }
            </ol>
        }
    </body>
</html>
