@(user: models.admin.RichUser)(implicit request: RequestHeader)

<html>
    <body>
        <p>Beste @user.name,</p>

        <p>Je wachtwoord voor <a href="@controllers.routes.Application.index.absoluteURL()">Studio Credo Ticket Reservatie</a> is aangepast.</p>

        <p>Je kan jezelf vanaf nu <a href="@controllers.auth.routes.LoginPage.login().absoluteURL()">aanmelden</a> met je nieuwe wachtwoord.</p>

        <p>Je gebruikersnaam is: @user.username</p>

        @emailFooter()
    </body>
</html>
