@(users: List[models.admin.RichUser], token: String)(implicit request: RequestHeader)
<html>
    <body>
        <p>Beste,</p>

        <p>Wij ontvingen een aanvraag om je wachtwoord opnieuw in te stellen.</p>
        @if(users.size == 1) {
            <p><a href="@controllers.auth.routes.PasswordReset.handleResetPassword(token, users.head.username).absoluteURL()">Stel het wachtwoord van @users(0).name (@users(0).username) opnieuw in</a> via onze webite.</p>
        } else {
            Er zijn @users.size gebruikers gekoppeld aan je email adres. Volg de links hieronder om het wachtwoord van de geselecteerde gebruiker opnieuw in te stellen:
            <ol>
                @users.map { user =>
                    <li><a href="@controllers.auth.routes.PasswordReset.handleResetPassword(token, user.username).absoluteURL()">@user.name (@user.username)</a></li>
                }
            </ol>
        }

        @emailFooter()
    </body>
</html>
