@(title: String)(content: Html)(implicit request: be.studiocredo.auth.SecureRequest[_])
@import controllers.admin
@import controllers.auth
@import views.helper.Auth
@import be.studiocredo.auth.Roles._

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='shortcut icon' type='image/x-icon' href='@routes.Assets.at("images/favicon.ico")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("select2.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("select2-bootstrap.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("css/main.css")'>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <!--[if lt IE 9]>
            <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.min.js"))'> </script>
            <script type='text/javascript' src='@routes.Assets.at("js/respond.min.js")'></script>
        <![endif]-->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.js"))'></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type='text/javascript' src='@routes.Assets.at("js/jquery.bootstrap-growl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/main.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/admin.js")'></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">Credo</a>
                </div>
                <div class="navbar-collapse collapse">
                    @Auth.restrictAdmin {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@admin.routes.Members.list()">Members</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@admin.routes.Venues.list()">Venues</a></li>
                                    <li><a href="@admin.routes.Events.list()">Events</a></li>
                                </ul>
                            </li>
                        </ul>
                    }


                    @if(request.currentUser.isDefined) {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@request.currentUser.get.name (@request.currentUser.get.username) <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@auth.routes.PasswordChange.page()">Change password</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@auth.routes.LoginPage.logout()">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    } else {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="@auth.routes.LoginPage.login()">Login</a></li>

                            <li><a href="@auth.routes.SignUp.startSignUp()">SignUp</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div id="content" class="container">
        @content
        </div>
        <hr>
        <footer>
            <p>&copy; Studio Credo 2013</p>
        </footer>
        <script type="text/javascript">
            @request.flash.get("success").map { message =>
            credo.flash("success", "@message");
            }
            @request.flash.get("error").map { message =>
            credo.flash("danger", "@message");
            }
        </script>
    </body>
</html>
