@(title: String, scripts: Html = Html(""), styles: Html = Html(""))(userContext: Option[models.entities.UserContext])(content: Html)(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import controllers.admin
@import controllers.auth
@import views.helper.Auth
@import be.studiocredo.auth.Roles._
@import play.api.Play.current

@defining(current.configuration.getBoolean("application.disable-registration").getOrElse(false)) { disableRegistration =>

<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="@title" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://@request.host@request.uri" />
        <meta property="og:image" content="@routes.Assets.at("images/logo.png").absoluteURL()" />
        <meta property="og:description" content="Studio Credo Ticket Reservatie"/>
        <meta prorerty="og:language" content="nl"/>
        <link rel='shortcut icon' type='image/x-icon' href='@routes.Assets.at("images/favicon.ico")'>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ui-lightness/jquery-ui.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap-theme.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("select2.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("select2-bootstrap.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at("css/main.css")'>
        <link rel='stylesheet' href='@routes.Assets.at("css/admin/main.css")'>
        @styles

        <!--[if lt IE 9]>
            <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("html5shiv.min.js"))'> </script>
            <script type='text/javascript' src='@routes.Assets.at("js/respond.min.js")'></script>
        <![endif]-->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery-ui.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("select2.js"))'></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type='text/javascript' src='@routes.Assets.at("js/jquery.bootstrap-growl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/angular-dragdrop.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/angular-sortable.js")'></script>

        <script type='text/javascript' src='@routes.Assets.at("js/utils.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("js/main.js")'></script>
        @scripts
    </head>
    <body data-ng-app="credo">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index()">Home</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.Events.list()">Evenementen</a></li>
                    </ul>
                    @Auth.restrictAdmin {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administratie <b class="caret"></b></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="@admin.routes.Users.list()">Gebruikers</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@admin.routes.Venues.list()">Locaties</a></li>
                                    <li><a href="@admin.routes.Events.list()">Evenementen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@admin.routes.Prereservations.list()">Pre-reservaties</a></li>
                                    <li><a href="@admin.routes.Orders.list()">Bestellingen</a></li>
                                    <li><a href="@admin.routes.Payments.list()">Betalingen</a></li>
                                    <li><a href="@routes.Orders.reloadStatus()">Synchroniseer status bestellingen</a></li>
                                </ul>
                            </li>
                        </ul>
                    }


                    @if(request.currentUser.isDefined) {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@request.currentUser.get.name (@request.currentUser.get.username) <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @loginGroup(userContext)
                                    <li><a href="@routes.Orders.list()">Mijn bestellingen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@routes.Profile.edit()">Profiel aanpassen</a></li>
                                    <li><a href="@auth.routes.PasswordChange.page()">Wachtwoord aanpassen</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@auth.routes.LoginPage.logout()">Afmelden</a></li>
                                </ul>
                            </li>
                        </ul>
                        @notifications(userContext)
                    } else {
                        <ul class="nav navbar-nav navbar-right">
                            @if(!disableRegistration) {
                            <li><a href="@auth.routes.SignUp.startSignUp()">Registreren</a></li>
                            }
                            <li><a href="@auth.routes.LoginPage.login()">Aanmelden</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
        <div id="content" class="container">
        @content
        </div>
        <hr>
        <footer>
            <p>&copy;&nbsp;<img src='@routes.Assets.at("images/logo_gray_small.png")'/>&nbsp;Studio Credo 2014</p>
        </footer>
        <script type="text/javascript">
            @request.flash.get("success").map { message =>
            credo.flash("success", "@message");
            }
            @request.flash.get("error").map { message =>
            credo.flash("danger", "@message");
            }
        </script>
    </body>
</html>

}
