@(currentPage: Page[entities.Course])(implicit flash: Flash)


@base("Courses") {

    <div>
    <a class="btn btn-primary" id="add" href="@routes.Courses.create()">Add new</a>
    </div>

    @if(!currentPage.isEmpty) {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @currentPage.items.map { course =>
                <tr>
                    <td>@course.id</td>
                    <td><a href="@{routes.Courses.view(course.id.get)}">@course.name</a></td>
                    <td>@course.active</td>
                    <td>
                        <a class="btn btn-default btn-xs" href="@{routes.Courses.view(course.id.get)}">Details</a>
                        <a class="btn btn-default btn-xs" href="@{routes.Courses.edit(course.id.get)}">Edit</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>


        @helper.paging(currentPage, (page:Int) => routes.Courses.list(page))

    } else {
        <div class="well">
            <em>No courses found</em>
        </div>

    }

}
