@(info: models.admin.EventDetail, show: Option[models.entities.ShowAvailability], hasQuota: Boolean, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)

@base(info.event.name)(userContext) {

    <div class="row ">
        <div class="col-xs-12 col-md-9">
            <div class="page-header">
                <h1>@info.event.name </h1>
            </div>
        </div>
        <div class="visible-md visible-lg col-md-3" >
            @if(info.event.reservationAllowed) {
            @defining(if (info.event.preReservationAllowed && hasQuota) "26px" else "46px") { marginTop =>
                <a href="@routes.Orders.start(Some(info.id), show.map(_.show.id))" class="btn btn-success btn-block btn-lg" style="margin-top: @marginTop;">Kaarten bestellen</a>
            }
            }
            @if(info.event.preReservationAllowed && hasQuota) {
            @defining(if (info.event.reservationAllowed) "10px" else "46px") { marginTop =>
            @defining(if (info.event.reservationAllowed) "10px" else "0px") { marginBottom =>
                <a href="@routes.Prereservations.start(info.id)" class="btn btn-success btn-block btn-lg" style="margin-top: @marginTop; margin-bottom: @marginBottom">Pre-reservaties</a>
            }
            }
            }
        </div>
        <div class="visible-xs visible-sm col-xs-12" >
            @if(info.event.reservationAllowed) {
            @defining(if (info.event.preReservationAllowed && hasQuota) "0px" else "10px") { marginBottom =>
                <a href="@routes.Orders.start(Some(info.id), show.map(_.show.id))" class="btn btn-success btn-block btn-lg" style="margin-bottom: @marginBottom;">Kaarten bestellen</a>
            }
            }
            @if(info.event.preReservationAllowed && hasQuota) {
            <a href="@routes.Prereservations.start(info.id)" class="btn btn-success btn-block btn-lg" style="margin-top: 10px; margin-bottom: 10px">Pre-reservaties</a>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-3 col-md-push-9" id="sidebar" role="navigation">
            @eventNav(info, show.map(_.show.id))
        </div>

        <div class="col-xs-12 col-md-9 col-md-pull-3">
            @show.map(eventShow(_))
        </div>
    </div>


}
