@(info: models.entities.ShowAvailability)(implicit request: be.studiocredo.auth.SecureRequest[_])

<div class="row">
    <dl class="dl-horizontal">
        <dt>Tijdstip</dt>
        <dd>@HumanDateTime.formatDateTime(info.show.date)</dd>
        @if(info.show.isDone) {
        <dt/>
        <dd>Deze show is afgelopen</dd>
        } else {
        <dt/>Beschikbaarheid</dt>
        <dd>@AvailabilityFormat.format(info)</dd>
        }
    </dl>
</div>
<div class="row">

    <div data-availability-floorplan data-show="@info.show.id"></div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Legende</h3>
        </div>
        <div class="panel-body fp fp-fancy-legend">
            @if(request.currentUser.isDefined) {
                <div class="text-info legend-label legend-label-mine">Mijn plaatsen</div>
            }
            <div class="text-info legend-label legend-label-free">Beschikbaar</div>
            <div class="text-info legend-label legend-label-reserved">Gereserveerd</div>
            <div class="text-info legend-label legend-label-unavailable">Niet beschikbaar</div>
        </div>
    </div>

</div>
