@(info: models.admin.EventDetail, show: Option[models.entities.Show])(implicit request: be.studiocredo.auth.SecureRequest[_])

@base("Event: " + info.event.name) {

    <div class="row ">
        <div class="col-xs-12 col-sm-9">
            <div class="page-header">
                <h1>@info.event.name </h1>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3" >
            <a href="@routes.Orders.start(Some(info.id), show.map(_.id))" class="btn btn-success btn-block btn-lg" style="margin-top: 46px;">Bestel</a>
        </div>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
            </p>
            <div class="row">
                @show.map(eventShow(_))
            </div>
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
        @eventNav(info, show.map(_.id))
        </div>
    </div>


}
