@(event: models.admin.EventDetail, info: models.entities.ShowAvailability)(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._

<div class="row">
    <div class="span-12">
        <dl class="dl-horizontal">
            <dt>Tijdstip</dt>
            <dd>@HumanDateTime.formatDateTime(info.show.date)</dd>
            @if(info.show.isDone) {
            <dt/>
            <dd>Deze show is afgelopen</dd>
            } else {
            <dt/>Beschikbaarheid</dt>
            <dd>@AvailabilityFormat.format(info)</dd>
            }
            <dt>Locatie</dt>
            <dd>@info.show.venueName</dd>
            @event.pricing match {
                case None => {}
                case Some(pricing) => {
                    <dt>Tarief</dt>
                    <dd>
                    @pricing.prices match {
                        case price :: Nil => { @CurrencyFormat.format(price.price) }
                        case prices => {
                            @defining(prices match { case head :: tail => (Some(head), tail); case _ => (None, Nil) }) { tuple =>
                            @defining(tuple._1) { head =>
                            @defining(tuple._2) { tail =>
                            @head match {
                            case Some(head) => { @priceDetail(head) }
                            case None => { }
                            }
                            @tail.map { price =>
                                <br/>
                                @priceDetail(price)
                            }
                            }
                            }
                            }
                        }
                    }
                    </dd>
                }
            }
        </dl>
    </div>
</div>
<div class="row">
    <div class="span-12">
        <div data-availability-floorplan data-show="@info.show.id"></div>
    </div>
</div>
