@(info: models.admin.EventDetail, active: Option[ids.ShowId] = None)

@info.shows.map { sv =>
    <div class="panel panel-default">
        <div class="panel-heading">@sv.venue.name</div>

        <div class="list-group">
            @sv.shows.map { show =>
                <a href="@routes.Events.viewShow(info.id, show.id)" class="list-group-item @views.Utils.active(active, show.id)" >
                @HumanDateTime.formatDateTime(show.date)
                </a>
            }
        </div>
    </div>

}

