@(eventId: ids.EventId, showForm: Form[NewShow], venues: views.helper.Options[entities.Venue])
@import helper._
@import views.Bootstrap._

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add show</h3>
            </div>
            <div class="panel-body">
                @form(action = routes.EventDetails.addShow(eventId), 'class -> "form form-horizontal") {
                    <fieldset>
                    @inputText(showForm("date"), '_label -> "DateTime", 'class -> "form-control")

                    @rselect(
                        showForm("venue"),
                        venues,
                        '_label -> "Venue",
                        '_showConstraints -> false,
                        'class -> "form-control"
                    )
                    </fieldset>
                    <div class="actions">
                        <input type="submit" value="Add show" class="btn btn-primary">
                    </div>
                }
            </div>
        </div>

    </div>
</div>
