@(nextShows: List[ShowOverview])(implicit flash: Flash)

@base("Index") {
    <div class="jumbotron">
        <div class="container">
            <h1>Studio Credo</h1>
            <p>Bla bla bla here you can buy tickets for our shows bla bla bla</p>
            <p><a class="btn btn-primary btn-lg">Upcoming shows &raquo;</a></p>
        </div>
    </div>
    <div class="row">
    @nextShows.map { info =>
        <div class="col-lg-4">
            <h2>@info.name</h2>
            <p>@info.date</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    }
    </div>

    <hr>

    <footer>
        <p>&copy; Studio Credo 2013</p>
    </footer>
}
