@(nextShows: List[entities.ShowAvailability], events: List[models.admin.EventDetail], availableAssets: List[models.admin.RichAsset], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import controllers.auth
@import helper._
@import play.api.Play.current

@base("Studio Credo Ticket Reservatie")(userContext) {
@defining(current.configuration.getBoolean("application.disable-registration").getOrElse(false)) { disableRegistration =>

<div class="jumbotron front-page-banner hidden-xs">
    <div class="inner-1">
        <div class="inner-2">
            <div class="inner-3">
                <h1>Studio Credo</h1>

                <p>Studio voor creatieve dansopleiding</p>

                @if(request.currentUser.isDefined) {
                    <p>
                        @events.filter(_.preReservationAllowed).headOption.map { event =>
                             <a href="@routes.Prereservations.start(event.id)" class="btn btn-primary btn-lg">Pre-reservaties &raquo;</a>
                        }
                        @events.filter(_.reservationAllowed).headOption.map { event =>
                            <a href="@routes.Orders.start(event.id)" class="btn btn-primary btn-lg">Bestellen &raquo;</a>
                        }
                    </p>
                } else {
                    <p>
                        <a class="btn btn-primary btn-lg" href="@auth.routes.LoginPage.login()">Aanmelden &raquo;</a>
                        @if(!disableRegistration) {
                        <a class="btn btn-primary btn-lg" href="@auth.routes.SignUp.startSignUp()">Registreren  &raquo;</a>
                        }
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<div class="jumbotron front-page-banner visible-xs">
    <h1 class="text-center">Studio Credo</h1>

    <p class="text-center">Studio voor creatieve dansopleiding</p>

    @if(request.currentUser.isDefined) {
        @events.filter(_.preReservationAllowed).headOption.map { event =>
            <p>
                <a href="@routes.Prereservations.start(event.id)" class="btn btn-primary btn-lg btn-block">Pre-reservaties &raquo;</a>
            </p>
        }
        @events.filter(_.reservationAllowed).headOption.map { event =>
            <p>
                <a href="@routes.Orders.start(event.id)" class="btn btn-primary btn-lg btn-block">Bestellen &raquo;</a>
            </p>
        }
    } else {
    <p>
        <a class="btn btn-primary btn-lg btn-block" href="@auth.routes.LoginPage.login()">Aanmelden &raquo;</a>
    </p>
    <p>
        <a class="btn btn-primary btn-lg btn-block" href="@auth.routes.SignUp.startSignUp()">Registreren  &raquo;</a>
    </p>
    }
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Welkom bij de online ticket reservatie van Studio Credo</h2>

        <p>Via deze website kan je tickets bestellen voor de evenementen van Studio Credo.</p>

        @events.map { event =>

            <h3>Informatie @event.name</h3>

            <p>@event.event.description</p>

            @event.event.preReservationStart match {
                case None => { }
                case Some(date) => {
                    @if(date.isAfterNow) {
                        <p>De pre-reservaties gaan van start op @HumanDateTime.formatDateOrDateTime(date).</p>
                    } else {
                        @event.event.preReservationEnd match {
                            case None => { }
                            case Some(date) => {
                                @if(date.isAfterNow) {
                                    <p>De pre-reservaties lopen tot @HumanDateTime.formatDateOrDateTime(date).</p>
                                }
                            }
                        }
                    }
                }
            }
            @event.event.reservationStart match {
                case None => { <p><a href="@routes.Orders.start(event.id)">Reserveer</a> je tickets.</p> }
                case Some(date) => {
                    @if(date.isAfterNow) {
                        <p>De reservaties gaan van start op @HumanDateTime.formatDateOrDateTime(date).</p>
                    } else {
                        @event.event.reservationEnd match {
                            case None => { }
                            case Some(date) => {
                                @if(date.isAfterNow) {
                                    <p>Je kan op dit moment tickets <a href="@routes.Orders.start(event.id)">reserveren</a>.</p>
                                }
                            }
                        }
                    }
                }
            }
            @event.pricing match {
                case None => {}
                case Some(pricing) => {
                    @pricing.prices match {
                        case price :: Nil => {
                            <p>Tickets zijn verkrijgbaar aan <strong>@CurrencyFormat.format(price.price)</strong>.</p>
                        }
                        case prices => {
                            <p><strong>Tickets</strong></p>
                            <ul>
                                @prices.map { price => <li>@priceDetail(price)</li> }
                            </ul>
                        }
                    }
                }
            }
        }

    </div>
</div>

@if(!nextShows.isEmpty) {
<div class="row">
    <div class="col-lg-12">
        <h3>Binnenkort...</h3>
    </div>
    @nextShows.map { info =>
    <div class="col-lg-3">
        <div class="panel panel-default upcoming-button">
            <div class="panel-body">
                <h4 class="text-info">@info.show.name</h4>

                <p>
                    <strong>@HumanDateTime.formatDateTime(info.show.date)</strong><br/>
                    <span class="text-default">@info.show.venueName</span><br/>
                    <span class="text-muted"><em>@AvailabilityFormat.format(info)</em></span><br/>
                </p>
                <p>
                    <a class="btn btn-default btn-sm" href="@routes.Events.viewShow(info.show.eventId, info.show.id)">Overzicht &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    }
</div>
}

@if(!availableAssets.isEmpty && request.currentUser.isDefined) {
<div class="row">
    <div class="col-lg-12">
        <h3>Nu beschikbaar</h3>
    </div>
    @availableAssets.map { asset =>
    <div class="col-lg-3">
        <div class="panel panel-default upcoming-button">
            <div class="panel-body">
                <h4 class="text-info">@asset.event.name</h4>

                <p>
                    <strong>@asset.name</strong><br/>
                </p>

                @if(asset.price.isDefined) {
                <p>
                    <span class="text-default">Prijs: @CurrencyFormat.format(asset.price.get)</span><br/>
                </p>
                <p>
                    <a class="btn btn-default btn-sm" href="#">Bestellen &raquo;</a><!-- TODO -->
                </p>
                }
                @if(asset.downloadable) {
                    @if(asset.objectKey.isDefined) {
                <p>
                        <a class="btn btn-primary btn-md" href="@routes.Downloads.download(asset.id)"><span class="glyphicon glyphicon-download"></span> Download</a>
                        <br/>
                </p>
                    } else {
                        <p>
                            <span class="text-muted"><em>Link nog niet beschikbaar</em></span><br/>
                        </p>
                    }
                }
            </div>
        </div>
    </div>
    }
</div>
}

}
}
