@(nextShows: List[entities.ShowAvailability], events: List[entities.Event], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import controllers.auth

@base("Studio Credo Ticket Reservatie")(userContext) {

<div class="jumbotron front-page-banner">
    <div class="inner-1">
        <div class="inner-2">
            <div class="inner-3">
                <h1>Studio Credo</h1>

                <p>Studio voor creatieve dansopleiding</p>

                @if(request.currentUser.isDefined) {
                    <p>
                        @events.filter(_.preReservationAllowed).headOption.map { event =>
                             <a href="@routes.Prereservations.start(event.id)" class="btn btn-primary btn-lg">Pre-reservaties &raquo;</a>
                        }
                        @events.filter(_.reservationAllowed).headOption.map { event =>
                            <a href="@routes.Orders.start(Some(event.id), None)" class="btn btn-primary btn-lg">Bestellen &raquo;</a>
                        }
                    </p>
                } else {
                    <p>
                        <a class="btn btn-primary btn-lg" href="@auth.routes.LoginPage.login()">Aanmelden &raquo;</a>
                        <a class="btn btn-primary btn-lg" href="@auth.routes.SignUp.startSignUp()">Registreren  &raquo;</a>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2>Welkom bij de Studio Credo ticket reservatie</h2>

        <p>Via deze website kan je tickets bestellen voor de evenementen van Studio Credo.</p>
    </div>
</div>

@if(!nextShows.isEmpty) {
<div class="row">
    <div class="col-lg-12">
        <h3>Binnenkort...</h3>
    </div>
    @nextShows.map { info =>
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4 class="text-info">@info.show.name</h4>

                <p><strong>@HumanDateTime.formatDateTime(info.show.date)</strong></p>
                <p class="text-default">@info.show.venueName</p>
                <p class="text-muted"><em>@AvailabilityFormat.format(info)</em></p>
                <p><a class="btn btn-default btn-sm" href="@routes.Events.viewShow(info.show.eventId, info.show.id)">Overzicht &raquo;</a></p>
            </div>
        </div>
    </div>
    }
</div>
}
}
