@(memberForm: Form[entities.Member])

@import helper._
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render)}

@base("Add member") {

    <h1>Add new member</h1>

    @form(action = routes.Members.save(), 'class -> "form form-horizontal") {

        @membersForm(memberForm)

        <div class="actions">
            <input type="submit" value="Add member" class="btn btn-primary">
            <a href="@routes.Members.list()" class="btn btn-warning">Cancel</a>
        </div>

    }
}
