@(memberForm: Form[entities.MemberEdit])

@import helper._
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render)}

<fieldset>

    @inputText(memberForm("name"), '_label -> "Name",  'class -> "form-control")
    @inputText(memberForm("email"), '_label -> "E-mail", 'class -> "form-control")
    @textarea(memberForm("address"), '_label -> "Address", 'class -> "form-control")
    @inputText(memberForm("phone"), '_label -> "phone", 'class -> "form-control")
    @twCheckbox(memberForm("archived"), '_label -> "Archived")
</fieldset>
