@(currentPage: Page[entities.Member])

@link(newPage: Int) = @{
    routes.Members.list(newPage)
}

@base("Members") {

    <a class="btn success" id="add" href="@routes.Members.create()">Add new</a>

    @if(!currentPage.isEmpty) {
        <table class="zebra-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
            @currentPage.items.map{ member =>
            <tr>
                <td>@member.id</td>
                <td>@member.name</td>
                <td>@member.address</td>
                <td>@member.phone</td>
                <td>@member.active</td>
            </tr>
            }
            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li>
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + currentPage.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li>
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
    } else {
        <div class="well">
            <em>Nothing to display</em>
        </div>

    }

}
