@(memberForm: Form[entities.Member])

@import helper._
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render)}

@base("Add member") {

    <h1>Add new member</h1>

    @form(action = routes.Members.save(), 'class -> "form form-horizontal") {

        <fieldset>

            @inputText(memberForm("name"), '_label -> "Name",  'class -> "form-control")
            @inputText(memberForm("email"), '_label -> "E-mail", 'class -> "form-control")
            @textarea(memberForm("address"), '_label -> "Address", 'class -> "form-control")
            @inputText(memberForm("phone"), '_label -> "phone", 'class -> "form-control")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Add member" class="btn btn-primary">
            <a href="@routes.Members.list()" class="btn btn-warning">Cancel</a>
        </div>

    }
}
