@(userContext: Option[models.entities.UserContext])
@import models.entities.NotificationType
@defining(userContext match { case Some(userContext) => userContext.notifications; case None => List() }) { notifications =>

@if(!notifications.isEmpty) {
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
            <a class="navbar-right navbar-link" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-inbox"></span>
                <span class="badge badge-important">@notifications.size</span>
                <b class="caret"></b>
            </a>
        <ul class="dropdown-menu ">
            @notifications.map { notification =>
            <li class="dropdown-header">@notification.title</li>
            @notification.entries.map { notificationEntry =>
            @defining(notificationEntry.notificationType) { notificationType =>
            @defining(if (notificationEntry.disabled) "disabled" else "") { cssClass =>
            @notificationType match {
                case NotificationType.UnusedQuota => {  <li class="@cssClass"><a href="#">@notificationEntry.message</a></li> }
                case NotificationType.PendingPrereservation => {  <li class="@cssClass"><a href="#">@notificationEntry.message</a></li> }
                case _ => {  <li class="@cssClass"><a href="#">@notificationEntry.message</a></li> }
            }
            }
            }
            }
            <li class="divider"></li>
            }
        </ul>
    </li>
</ul>
}

}
