@(userContext: Option[models.entities.UserContext])
@import models.entities._
@import helper._

@notificationListElement(notification: models.entities.Notification) = {
    <li class="dropdown-header">@notification.title</li>
    @notification.entries.map { notificationEntry =>
    @defining(if (notificationEntry.disabled) "disabled" else "") { cssClass =>
    @notificationEntry match {
        case UnusedQuotaNotificationEntry(event, quantity, _) => {  <li class="@cssClass"><a href="@controllers.routes.Prereservations.start(event.id)">@event.name (@quantity)</a></li> }
        case PendingPrereservationNotificationEntry(show, quantity, _) => {  <li class="@cssClass"><a href="@controllers.routes.Orders.start(Some(show.eventId), Some(show.id))">@show.name @HumanDateTime.formatDateTimeCompact(show.date) (@quantity)</a></li> }
        case DefaultNotificationEntry(message, _) => {  <li class="@cssClass"><a href="#">@message</a></li> }
        case _ => { <li class="@cssClass"><a href="#">@notificationEntry.notificationType</a></li> }
    }
    }
    }
}

@defining(userContext match { case Some(userContext) => userContext.notifications; case None => List() }) { notifications =>

@if(!notifications.isEmpty) {
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
            <a class="navbar-right navbar-link" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-inbox"></span>
                <span class="badge badge-important">@notifications.size</span>
                <b class="caret"></b>
            </a>
        <ul class="dropdown-menu ">
            @defining(notifications match { case head :: tail => (head, tail) }) { tuple =>
            @defining(tuple._1) { head =>
            @defining(tuple._2) { tail =>
                @notificationListElement(head)
                @tail.map { notification =>
                    <li class="divider"></li>
                    @notificationListElement(notification)
                }
            }
            }
            }
        </ul>
    </li>
</ul>
}

}
