@(info: models.admin.EventReservationsDetail, order: models.entities.OrderDetail, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import be.studiocredo.util.Joda._

@pageScripts = {
<script>
$(document).ready(function() {
    $('body').on('click', '#order-more-button', function(e) {
        $('#order-more').attr('class', 'show');
    });
});
</script>
}

@orderRowInactive(ticketOrder: models.entities.TicketOrderDetail)= {
    <tr class="active">
        <td>
            <p class="text-muted h4">@showName(ticketOrder.show)</p>
        </td>
        <td>
            @defining(ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.grouped(5).map(_.mkString(", ")).toSeq) { groupedSeats =>
            @groupedSeats.tail.foldLeft(Html(groupedSeats.head)) { (result, seat) =>
            @result<br/>@seat
            }
            }
        </td>
        <td>@ticketOrder.ticketSeatOrders.length</td>
        <td>@CurrencyFormat.format(ticketOrder.price)</td>
        <td/>
    </tr>
}

@orderRowActive(ticketOrder: models.entities.TicketOrderDetail)= {
    <tr>
        <td>
            <p class="text-info h4">@HumanDateTime.formatDateTime(ticketOrder.show.date)</p>
            <p class="text-muted h5">@ticketOrder.show.venueName</p>
        </td>
        <td>
            @defining(ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.grouped(5).map(_.mkString(", ")).toSeq) { groupedSeats =>
            @groupedSeats.tail.foldLeft(Html(groupedSeats.head)) { (result, seat) =>
            @result<br/>@seat
            }
            }
        </td>
        <td>@ticketOrder.ticketSeatOrders.length</td>
        <td>@CurrencyFormat.format(ticketOrder.price)</td>
        <td>
            <a class="btn btn-danger btn-sm" href="@routes.Orders.cancelSeatOrder(ticketOrder.show.id)">Verwijderen</a>
        </td>
    </tr>
}

@orderRowNew(show: models.entities.Show, venue: models.entities.Venue)= {
    @defining(show.id) { ngModelIndex =>
    @defining(info.totalQuota) { max =>
    @defining(info.pendingPrereservationsByShow(show.id)) { startValue =>
    <div class="row" data-ng-init="values[@ngModelIndex] = @startValue">
        <div class="col-md-6">
            <p class="text-info h4">@HumanDateTime.formatDateTime(show.date)</p>
            <p class="text-muted h5">@venue.name</p>
        </div>
        <div class="col-md-6">
            @form(action = controllers.routes.Orders.startSeatOrder(show.id, order.id, info.id), 'class -> "form form-horizontal", 'name -> "orderForm") {
            <input id="seattype-disabled-input" name="seattype-disabled" type="hidden" value="false">
            <input name="price" type="hidden" value="32">
            <div data-counter-input name="quantity" max="@info.totalQuota" class="quantity-input-sm div-inline"></div>

            <div class="div-inline">
                <button type="submit" class="btn btn-primary btn-sm" data-ng-disabled="orderForm.$invalid">Plaatsen kiezen &raquo;</button>
            </div>
            }
        </div>
    </div>
    }
    }
    }
}

@base("Overzicht bestelling", pageScripts)(userContext) {
    <div class="page-header">
        <h1>Bestelling @info.event.name <small>@order.user.name</small></h1>
    </div>

    @if(info.event.reservationAllowed) {
    @if(!order.order.processed) {

        @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @msg
        </div>
        }

        @if(!info.shows.isEmpty) {

            <h2>Factuurgegevens</h2>
            <address>
                <strong>@order.order.billingName</strong><br>
                @order.order.billingAddress
            </address>

            @if(!order.ticketOrders.isEmpty) {

            <h2>Overzicht bestellingen</h2>

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Voorstelling</th>
                    <th>Plaatsen</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                    @for((ticketOrder) <- order.ticketOrders.filter( _.show.eventId == info.id).sortBy(r => (r.show.date, r.ticketOrder.id.toInt))) {
                        @orderRowActive(ticketOrder)
                    }
                    @for((ticketOrder) <- order.ticketOrders.filterNot(to => to.show.eventId == info.id)) {
                        @orderRowInactive(ticketOrder)
                    }

                </tbody>
                <tfoot>
                <tr class="success">
                    <th colspan="3" class="h3">Totaal</th>
                    <th class="h3">@CurrencyFormat.format(order.price)</th>
                    <th/>
                </tr>
                </tfoot>
            </table>

            }

            @if(order.numberOfSeats > 0) {
                    @form(action = routes.Orders.confirm(order.id), 'class -> "form form-inline form-no-feedback") {
                        <p>
                            <button type="submit" class="btn btn-primary">Bestelling afronden</button>
                            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#cancelModal">Annuleren</button>
                            <button type="button" id="order-more-button" class="btn btn-success @if(order.numberOfSeats == 0) { hidden }">Meer tickets bestellen &raquo;</button>
                        </p>
                    }
            } else {
                <p>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#cancelModal">Annuleren</button>
                    <button id="order-more-button" class="btn btn-success @if(order.numberOfSeats == 0) { hidden }">Meer tickets bestellen &raquo;</button>
                </p>
            }

            <div id="order-more" class="@if(order.numberOfSeats > 0) { hidden }" data-ng-controller="CounterInputCtrl" data-ng-init="maxQuota = @info.totalQuota; usedQuota = @order.numberOfSeats">

            <h2>@if(order.numberOfSeats > 0) { Extra bestelling } else { Nieuwe bestelling }</h2>

            <div class="alert alert-info">
                <p>Selecteer het aantal gewenste tickets per show.</p>
                @if(info.users.length == 1) {
                    <p>Je kan per sessie voor elke voorstelling maximaal @info.totalQuota tickets bestellen.</p>
                } else {
                    <p>Je kan per sessie voor elke voorstelling maximaal @info.totalQuota tickets bestellen (@info.users.length gekoppelde gebruikers).</p>
                }
                @if(order.numberOfSeats > 0) {
                    <p>Je hebt in deze sessie al @order.numberOfSeats tickets besteld.</p>
                }
            </div>

            <div class="alert alert-success">
                <div class="checkbox">
                    <label>
                        <input id="seattype-disabled" type="checkbox" value="">
                        Ik wens plaatsen voor rolstoelgebruikers indien beschikbaar.
                    </label>
                </div>
            </div>

             @defining(info.shows.map{ vs => vs.shows.map{(vs.venue, _)}}.flatten) { venueShows =>
                @for(((venue, show), index) <- venueShows.zipWithIndex) {
                    @orderRowNew(show, venue)
                }
             }

            </div><!-- #order-more -->

            <!-- Modal -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="cancelModalLabel">Annulatie bestelling</h4>
                        </div>
                        <div class="modal-body">
                            <p>Weet je zeker dat je je bestelling wil annuleren?</p>
                            <p>Alle aangeduide plaatsen zullen weer worden vrijgegeven. Indien je enkel de plaatsen voor een voorstelling wil wijzigen,
                                gebruik dan de link 'Wijzigen' op de overzichtspagina.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nee, terug naar overzicht</button>
                            <a class="btn btn-primary" href="@routes.Orders.cancel(order.id)">Ja, annuleer mijn bestelling</a>
                        </div>
                    </div>
                </div>
            </div>
} else {
        <div class="well">
            <p><em>Geen voorstellingen gevonden voor dit evenement.</em></p>
            @form(routes.Application.index) {
            <input type="submit" value="Annuleren" class="btn btn-warning">
            }
        </div>
        }

} else {
<div class="alert alert-warning">
    Deze bestelling is al afgesloten.
</div>
}

    } else {
        <div class="alert alert-warning">
            Je kan op dit moment niet reserveren voor dit evenement.
        </div>
    }
}
