@(info: models.admin.EventReservationsDetail, order: models.entities.OrderDetail, seatTypes: Set[models.entities.SeatType.SeatType], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import be.studiocredo.util.Joda._
@import play.api.libs.json._
@import play.api.Play.current

@orderRowInactive(ticketOrder: models.entities.TicketOrderDetail)= {
    <tr class="active">
        <td>
            <p class="text-muted h4">@showName(ticketOrder.show)</p>
        </td>
        <td>
            @defining(ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.grouped(5).map(_.mkString(", ")).toSeq) { groupedSeats =>
            @groupedSeats.tail.foldLeft(Html(groupedSeats.head)) { (result, seat) =>
            @result<br/>@seat
            }
            }
        </td>
        <td>@ticketOrder.ticketSeatOrders.length</td>
        <td>@CurrencyFormat.format(ticketOrder.price)</td>
        <td/>
    </tr>
}

@orderRowActive(ticketOrder: models.entities.TicketOrderDetail)= {
    <tr>
        <td>
            <p class="text-info h4">@HumanDateTime.formatDateTime(ticketOrder.show.date)</p>
            <p class="text-muted h5">@ticketOrder.show.venueName</p>
        </td>
        <td>
            @defining(ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.grouped(5).map(_.mkString(", ")).toSeq) { groupedSeats =>
            @groupedSeats.tail.foldLeft(Html(groupedSeats.head)) { (result, seat) =>
            @result<br/>@seat
            }
            }
        </td>
        <td>@ticketOrder.ticketSeatOrders.length</td>
        <td>@CurrencyFormat.format(ticketOrder.price)</td>
        <td>
            <a class="btn btn-danger btn-sm" href="@routes.Orders.cancelTicketOrder(order.id, info.id, ticketOrder.id)">Verwijderen</a>
        </td>
    </tr>
}

@orderRowNew(event: models.admin.EventDetail, show: models.entities.Show, venue: models.entities.Venue)= {
    @defining(info.totalQuota - order.numberOfSeats) { max =>
    @defining(info.pendingPrereservationsByShow(show.id)) { startValue =>
    @defining(Json.toJson(seatTypes.map(_.toString))) { seatTypesJ =>
    <div class="row">
        <div class="col-md-6">
            <p class="text-info h4">@HumanDateTime.formatDateTime(show.date)</p>
            <p class="text-muted h5">@venue.name</p>
        </div>
        <div class="col-md-6">
            @form(action = controllers.routes.Orders.startSeatOrder(show.id, order.id, info.id), 'class -> "form form-horizontal", 'name -> "orderForm") {
                <div data-order-input quantity="@startValue" max="@max" price-category="@event.pricing.get.prices.head.category" seat-types='@seatTypesJ' class="quantity-input-sm div-inline"></div>
            }
        </div>
    </div>
    }
    }
    }
}

@base("Overzicht bestelling")(userContext) {
    <div class="page-header">
        <h1>Bestelling @info.event.name <small>@order.user.name</small></h1>
    </div>

    @if(info.event.reservationAllowed) {
    @if(!order.order.processed) {

        @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @msg
        </div>
        }

        @if(!info.shows.isEmpty) {
        <div data-ng-controller="OrderCtrl">

            <h2 data-ng-init="billingEdit = false">
                Factuurgegevens
                <button type="button" class="btn btn-default btn-xs" title="Bewerken" data-ng-click="billingEdit = !billingEdit" data-ng-show="!billingEdit"><span class="glyphicon glyphicon-pencil"></span></button>
            </h2>
            <address data-ng-show="!billingEdit">
                <strong>@order.order.billingName</strong><br>
                @newlines(order.billingAddressLines)
            </address>
            <div data-ng-show="billingEdit" style="margin-bottom: 15px;" class="panel panel-primary">
                <div class="panel-body">
                    @form(action = routes.Orders.updateBillingData(order.id, info.id), 'class -> "form", 'role -> "form") {
                        <div class="form-group">
                            <label for="billingName">Naam</label>
                            <input id="billingName" class="form-control" name="billingName" type="text" value="@order.order.billingName"/>
                        </div>
                        <div class="form-group">
                            <label for="billingAddress">Adres</label>
                            <textarea id="billingAddress" name="billingAddress" class="form-control" rows="3">@order.order.billingAddress</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm">Opslaan</button>
                        <button type="button" class="btn btn-warning btn-sm" data-ng-click="billingEdit = false">Annuleren</button>
                    }
                </div>
            </div>

            @if(!order.ticketOrders.isEmpty) {

            <h2>Overzicht bestelling</h2>

            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Voorstelling</th>
                    <th>Plaatsen</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                    @for((ticketOrder) <- order.ticketOrders.filter( _.show.eventId == info.id).sortBy(r => (r.show.date, r.id.toInt))) {
                        @orderRowActive(ticketOrder)
                    }
                    @for((ticketOrder) <- order.ticketOrders.filterNot(to => to.show.eventId == info.id)) {
                        @orderRowInactive(ticketOrder)
                    }

                </tbody>
                <tfoot>
                <tr class="success">
                    <th colspan="3" class="h3">Totaal</th>
                    <th class="h3">@CurrencyFormat.format(order.price)</th>
                    <th/>
                </tr>
                </tfoot>
            </table>

            }

            @defining(order.numberOfSeats == 0 || request.flash.get("start-order").isDefined) { showOrderMore =>
            <div data-ng-init="showOrderMore = @showOrderMore">
            }
            @if(order.numberOfSeats > 0) {
                <p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Bestelling afronden</button>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#cancelModal">Annuleren</button>
                    <button type="button" id="order-more-button" class="btn btn-success" data-ng-click="showOrderMore = true">Meer tickets bestellen &raquo;</button>
                </p>
            } else {
                <p>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#cancelModal">Annuleren</button>
                </p>
            }
            </div>

            <div data-ng-show="showOrderMore">

            <h2>@if(order.numberOfSeats > 0) { Extra bestelling } else { Nieuwe bestelling }</h2>

            <div class="alert alert-info">
                <p>Selecteer het aantal gewenste tickets per show en kies vervolgens je plaatsen.</p>
                @if(info.users.length == 1) {
                    <p>Je kan per sessie maximaal @info.totalQuota tickets bestellen.</p>
                } else {
                    <p>Je kan per sessie maximaal @info.totalQuota tickets bestellen (@info.users.length gekoppelde gebruikers).</p>
                }
                @if(order.numberOfSeats > 0) {
                    <p>Je hebt in deze sessie al @order.numberOfSeats tickets besteld.</p>
                }
            </div>

            @defining(current.configuration.getBoolean("application.disable-accessible-seats").getOrElse(false)) { disableAccessibleSeats =>
                @if(!disableAccessibleSeats) {
                <div class="alert alert-success">
                    <div class="checkbox">
                        <label>
                            <input id="seattype-disabled" type="checkbox" data-ng-change="updateDisabledSeatType()" data-ng-model="disabledSeatType" data-ng-init="disabledSeatType = @seatTypes.contains(models.entities.SeatType.Disabled)">
                            Ik wens plaatsen voor rolstoelgebruikers indien beschikbaar.
                        </label>
                    </div>
                </div>
                }
            }

            @request.flash.get("start-order").map { message =>
                <div class="alert alert-danger">
                    <p>@message</p>
                </div>
            }

             @defining(info.orderedShows) { venueShows =>
                @for(((venue, show), index) <- venueShows.zipWithIndex) {
                    @orderRowNew(info.event, show, venue)
                }
             }

            </div><!-- #order-more -->

            <!-- Modal -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="cancelModalLabel">Annulatie bestelling</h4>
                        </div>
                        <div class="modal-body">
                            <p>Weet je zeker dat je je bestelling wil annuleren?</p>
                            <p>Alle aangeduide plaatsen zullen weer worden vrijgegeven. Indien je enkel de plaatsen voor een voorstelling wil wijzigen,
                                gebruik dan de link 'Wijzigen' op de overzichtspagina.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Nee, terug naar overzicht</button>
                            <a class="btn btn-primary" href="@routes.Orders.cancel(order.id)">Ja, annuleer mijn bestelling</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        @form(action = routes.Orders.confirm(order.id, info.id), 'class -> "form", 'role -> "form") {
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="confirmModalLabel">Bevestiging bestelling</h4>
                            </div>
                            <div class="modal-body">
                                <p>Bestelling van @{order.quantity match { case 1 => "1 ticket"; case _ => s"${order.quantity} tickets"}} voor een bedrag van @CurrencyFormat.format(order.price) op naam van @order.order.billingName</p>

                                @defining(info.pendingPrereservationsByShow.values.sum) { unused =>
                                    @if(unused > 0) {
                                        <div class="alert alert-danger">
                                            <p>Opgelet, je hebt @{unused match { case 1 => "1 pre-reservatie"; case _ => s"${unused} pre-reservaties"}} niet opgebruikt. Indien je je bestelling nu afrondt, vervallen alle niet gebruikte pre-reservaties.</p>
                                            @defining(current.configuration.getBoolean("application.allow-keep-unused-prereservations").getOrElse(false)) { allowKeepUnusedPrereservations =>
                                                @if(allowKeepUnusedPrereservations) {
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="keepUnusedPrereservations" name="keepUnusedPrereservations" value="true">
                                                        <strong>Ik wil mijn ongebruikte pre-reservaties toch behouden om later op te nemen.</strong>
                                                    </label>
                                                </div>
                                                }
                                            }
                                        </div>
                                    }
                                }

                                <div class="form-group">
                                    <label for="orderComments">Opmerkingen</label>
                                    <textarea id="orderComments" name="orderComments" class="form-control" rows="5">@order.order.comments</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <p>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Nee, terug naar overzicht</button>
                                    <button type="submit" class="btn btn-primary">Ja, bevestig mijn bestelling</button>
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>

} else {
        <div class="well">
            <p><em>Geen voorstellingen gevonden voor dit evenement.</em></p>
            @form(routes.Application.index) {
            <input type="submit" value="Annuleren" class="btn btn-warning">
            }
        </div>
        }

} else {
<div class="alert alert-warning">
    Deze bestelling is al afgesloten.
</div>
}

    } else {
        <div class="alert alert-warning">
            Je kan op dit moment niet reserveren voor dit evenement.
        </div>
    }
}
