@(order: models.entities.OrderDetail, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._

@orderRow(ticketOrder: models.entities.TicketOrderDetail)= {
<tr>
    <td>
        <p class="h4">@showName(ticketOrder.show)</p>
    </td>
    <td>
        @defining(ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.grouped(5).map(_.mkString(", ")).toSeq) { groupedSeats =>
        @groupedSeats.tail.foldLeft(Html(groupedSeats.head)) { (result, seat) =>
        @result<br/>@seat
        }
        }
    </td>
    <td>@ticketOrder.ticketSeatOrders.length</td>
    <td>@CurrencyFormat.format(ticketOrder.price)</td>
    <td/>
</tr>
}


@base("Overzicht bestelling")(userContext) {
<div class="page-header">
    <h1>Overzicht bestelling <small>@order.user.name</small></h1>
</div>

@request.flash.get("error").map { msg =>
<div class="alert alert-danger">
    @msg
</div>
}
<div class="alert alert-info">
    <p>Studio Credo bedankt je voor je bestelling. Hieronder vind je een overzicht van de gegevens die naar je e-mail adres werder verstuurd.</p>
    <p>Gelieve het verschuldigde bedrag zo snel mogelijk over te schrijven op onze rekening.</p>
    <p>Na ontvangst van de betaling worden de tickets je via e-mail toegestuurd.</p>
</div>

<h2>Factuurgegevens</h2>
<address>
    <strong>@order.order.billingName</strong><br>
    @order.order.billingAddress
</address>

<h2>Betalingsgegevens</h2>

<div class="row">
    <div class="col-md-3">Bedrag</div>
    <div class="col-md-9"><strong>@CurrencyFormat.format(order.price)</strong></div>
</div>

<div class="row">
    <div class="col-md-3">Rekeningnummer (IBAN)</div>
    <div class="col-md-9"><strong>IBAN BE27 7512 0260 7273</strong></div>
</div>

<div class="row">
    <div class="col-md-3">Bank (BIC)</div>
    <div class="col-md-9"><strong>AXABBE22</strong></div>
</div>

<div class="row">
    <div class="col-md-3">Adres</div>
    <div class="col-md-9"><strong>Studio Credo vzw<br/>Diksmuidse Heerweg 105<br/>8200 Sint-Andries</strong></div>
</div>

<div class="row">
    <div class="col-md-3">Gestructureerde mededeling</div>
    <div class="col-md-9"><strong>@order.order.reference</strong></div>
</div>

<h2>Bestelling</h2>

<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>Voorstelling</th>
        <th>Plaatsen</th>
        <th>Aantal</th>
        <th>Prijs</th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    @for((ticketOrder) <- order.ticketOrders) {
    @orderRow(ticketOrder)
    }

    </tbody>
    <tfoot>
    <tr class="success">
        <th colspan="3">Totaal</th>
        <th>@CurrencyFormat.format(order.price)</th>
        <th/>
    </tr>
    </tfoot>
</table>

@if(order.order.comments.isDefined) {
<h2>Opmerkingen</h2>

<p>@newlines(order.commentLines)</p>
}

<a href="@routes.Application.index" class="btn btn-primary">OK</a>
}