@(info: models.admin.EventReservationsDetail, reservationForm: Form[controllers.ReservationForm], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import views.Bootstrap._

@base("Bestelling voor " + info.event.name)(userContext) {
    <div class="page-header">
        <h1>@info.event.name </h1>
    </div>

    @if(info.event.reservationAllowed) {

        @request.flash.get("error").map { msg =>
        <div class="alert alert-danger">
            @msg
        </div>
        }
        <div class="alert alert-info">
            <p>Selecteer het aantal tickets per show.</p>
            <p>Je kan per sessie maximaal 10 tickets per gekoppelde gebruiker bestellen.</p>
        </div>

        @if(!info.shows.isEmpty) {

            @form(action = controllers.routes.Orders.saveShow(info.shows.head.shows.head.id), 'class -> "form form-horizontal", 'name -> "resForm") {

                @globalFormErrors(reservationForm)

                @defining(info.shows.map{ vs => vs.shows.map{(vs.venue, _)}}.flatten) { venueShows =>
                <fieldset data-ng-controller="CounterInputCtrl" data-ng-init="maxQuota = @info.totalQuota">

                    @if(!info.users.isEmpty) {
                    @formControlStatic("Gekoppelde gebruikers", "col-lg-6 col-xs-6", "col-lg-6 col-xs-6") {
                    @info.users.map { user =>
                    <a href="#" class="btn btn-default btn-xs" role="button">@user.name</a>
                    }
                    }

                    @info.event.pricing match {
                        case None => {}
                        case Some(pricing) => {
                            @formControlStatic("Tarief", "col-lg-6 col-xs-6", "col-lg-6 col-xs-6") {
                                @pricing.prices match {
                                    case price :: Nil => { @CurrencyFormat.format(price.price) }
                                    case prices => {
                                        @defining(prices match { case head :: tail => (Some(head), tail); case _ => (None, Nil) }) { tuple =>
                                        @defining(tuple._1) { head =>
                                        @defining(tuple._2) { tail =>
                                            @head match {
                                                case Some(head) => { @priceDetail(head) }
                                                case None => { }
                                            }
                                            @tail.map { price =>
                                                <br/>
                                                @priceDetail(price)
                                            }
                                        }
                                        }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    @for(((venue, show), index) <- venueShows.zipWithIndex) {
                    @counterInput(reservationForm(s"res[$index].quantity"), '_label -> showVenueLabel(show, venue),  '_labelclass -> "col-lg-6 col-xs-6 quantity-label", '_inputclass -> "col-lg-6 col-xs-6 quantity-input", 'ngModelIndex -> show.id, 'max -> info.totalQuota, 'min -> info.pendingPrereservationsByShow(show.id), 'class -> "form-control")
                    @hiddenInput(reservationForm(s"res[$index].show"))
                    }

                    @formControlStatic("Totaal", "col-lg-6 col-xs-6", "col-lg-6 col-xs-6") {
                    <span data-ng-show="resForm.$valid && isMaxQuotaSatisfied()">{{totalUsed()}}</span>
                    <span class="text-warning" data-ng-show="resForm.$invalid || !isMaxQuotaSatisfied()">Ongeldige waarde</span>
                    }
                    }
                </fieldset>
                }

                @twFormActions {
                    <button type="submit" class="btn btn-primary" data-ng-disabled="resForm.$invalid">Bewaren</button>
                    <a class="btn btn-warning" href="@controllers.routes.Application.index">Annuleren</a>
                }
            }

        } else {
        <div class="well">
            <p><em>Geen voorstellingen gevonden voor dit evenement.</em></p>
            @form(routes.Application.index) {
            <input type="submit" value="Annuleren" class="btn btn-warning">
            }
        </div>
        }
    } else {
        <div class="alert alert-warning">
            Je kan op dit moment niet reserveren voor dit evenement.
        </div>
    }
}