@(show: models.entities.EventShow, orderId: models.ids.OrderId, userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)

@import helper._

@base(show.name)(userContext) {

<div class="row ">
    <div class="col-xs-12 col-md-9">
        <div class="page-header">
            <h1>@show.name</h1>
        </div>
    </div>
</div>

<div class="row" data-ng-controller="ReservationFloorplanCtrl">
    <div class="col-xs-12 col-md-3 col-md-push-9" id="sidebar" role="navigation">
        <a class="btn btn-success btn-block btn-lg" href="@routes.Orders.commitSeatOrder(show.id, orderId)" data-loading-text="Bezig..." onclick="$(this).button('loading');">Bevestigen</a>
        <a class="btn btn-warning btn-block btn-lg" href="@routes.Orders.cancelSeatOrder(show.id, orderId)" data-loading-text="Bezig..." onclick="$(this).button('loading');" style="margin-bottom: 10px;">Annuleren</a>

        <div class="panel panel-default">
            <div class="panel-heading">Selectie</div>
            <div class="panel-body fp-fancy-selection">
                <div class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="selectAll()" title="Alles selecteren"><span class="glyphicon glyphicon-th"></span></button>
                        <button class="btn btn-default" ng-click="clearSelection()" title="Selectie leegmaken"><span class="glyphicon glyphicon-remove-circle"></span></button>
                        <button class="btn btn-default" ng-click="moveBest()" title="Nieuwe suggestie"><span class="glyphicon glyphicon-refresh"></span></button>
                    </div>
                </div>
                <div>
                    <p class="text-muted text-center h4" data-ng-show="selected.length == 0">(Leeg)</p>
                    <ul class="list-inline">
                        <li data-ng-repeat="seat in selected" class="seat">{{seat}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Beschikbare tijd</div>
            <div class="panel-body">
                <div class="h2 text-center text-danger" ng-show="millis > 0">{{humanTimeout(millis)}}</div>
                <div class="h4 text-center text-danger" ng-show="millis &lt;= 0 && timeoutLatch">De tijd is verstreken</div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Legende</div>
            <div class="panel-body fp fp-fancy-legend">
                <div class="text-info legend-label legend-label-mine">Mijn plaatsen</div>
                <div class="text-info legend-label legend-label-selected">Mijn geselecteerde plaatsen</div>
                <div class="text-info legend-label legend-label-free">Beschikbaar</div>
                <div class="text-info legend-label legend-label-unavailable">Onbeschikbaar</div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-9 col-md-pull-3">
        <div class="row">
            <div class="span-12">
                <dl class="dl-horizontal">
                    <dt>Tijdstip</dt>
                    <dd>@HumanDateTime.formatDateTime(show.date)</dd>

                    <dt>Locatie</dt>
                    <dd>@show.venueName</dd>
                   </dl>
            </div>
        </div>
        <div class="row">
            <div class="span-12">
                <div data-reservation-floorplan data-show-id="@show.id" data-order-id="@orderId"></div>
            </div>
        </div>
    </div>
</div>


}
