@(reference: String, order: Option[models.entities.OrderPayments], messages: Map[String, String], userContext: Option[models.entities.UserContext])(implicit request: be.studiocredo.auth.SecureRequest[_], lang: Lang)
@import helper._
@import controllers.admin.routes

@orderRow(ticketOrder: models.entities.TicketOrderDetail)= {
<tr>
    <td>
        @showName(ticketOrder.show)
        <br/>
        Plaatsen: <strong>@{ticketOrder.ticketSeatOrders.map(_.ticketSeatOrder.seat.name).sorted.mkString(", ")}</strong>
    </td>
    <td class="text-right">@CurrencyFormat.format(ticketOrder.price)</td>
</tr>
}

@paymentRow(payment: models.entities.Payment)= {
<tr>
    <td>
        Betaling door @payment.debtor (@HumanDateTime.formatDateCompact(payment.date))
    </td>
    <td class="text-danger text-right">- @CurrencyFormat.format(payment.amount)</td>
</tr>
}

@baseSimple(s"Ticket $reference", messages.keys.toList)(userContext) {

<div class="page-header">
    <h1>Ticket @reference</h1>
</div>

@messages.get("error").map { msg =>
<div class="alert alert-danger">
    @msg
</div>
}

@messages.get("warning").map { msg =>
<div class="alert alert-warning">
    @msg
</div>
}

@order.map { order =>
    <div class="row">
        <div class="col-md-12">
            <address>
                <strong>@order.order.order.billingName</strong><br>
                @newlines(order.order.billingAddressLines)
            </address>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Omschrijving</th>
                <th class="text-right">Prijs</th>
            </tr>
        </thead>
        <tbody>

            @for((ticketOrder) <- order.order.ticketOrders) {
                @orderRow(ticketOrder)
            }

            <tr class="warning">
                <th>Totaal te betalen</th>
                <th class="text-right">@CurrencyFormat.format(order.order.price)</th>
            </tr>

            @for((payment) <- order.payments) {
                @paymentRow(payment)
            }

        </tbody>
        <tfoot>
            <tr class="@if(order.isPaid){ success } else { danger }">
                <th>Saldo</th>
                <th class="text-right @if(order.balance.amount < 0){ text-danger }">@if(order.isPaid){ VOLDAAN } else { @CurrencyFormat.format(order.balance) }</th>
            </tr>
        </tfoot>
    </table>
}

}